vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Mar 2006 13:15:19 -0000
vti_extenderversion:SR|5.0.2.5012
vti_cacheddtm:TX|30 Mar 2006 13:15:19 -0000
vti_filesize:IR|2575
vti_cachedlinkinfo:VX|S|../images/ball/r.gif S|../images/ball/g.gif S|../images/ball/b.gif
vti_cachedsvcrellinks:VX|FSUS|ac566/user/images/ball/r.gif FSUS|ac566/user/images/ball/g.gif FSUS|ac566/user/images/ball/b.gif
vti_lineageid:SR|{4192AC93-BB0C-43E9-89A6-B3EFA58EA60B}
vti_backlinkinfo:VX|ac566/user/lt_halfball.aspx ac566/user/rules1.htm ac566/user/bets-enquiry.aspx ac566/user/lt_nap.aspx ac566/user/lt_sx.aspx ac566/user/profile.aspx ac566/user/quickinput.aspx ac566/dls/history.aspx ac566/user/history.aspx ac566/user/PassWord.aspx ac566/user/quickinput2.aspx ac566/user/quickinput_ev.aspx ac566/dls/bets-enquiry.aspx ac566/user/body_browse.aspx ac566/user/lt_ch.aspx ac566/user/match-result.aspx
