vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Aug 2005 14:11:44 -0000
vti_extenderversion:SR|5.0.2.5012
vti_cacheddtm:TX|04 Aug 2005 14:11:44 -0000
vti_filesize:IR|1913
vti_cachedlinkinfo:VX|S|../images/inda_ph012b.jpg S|../images/index_ph45b.jpg S|../images/index_dot.jpg S|../images/inda_dot.jpg S|../images/inda_ph_point.gif
vti_cachedsvcrellinks:VX|NSUS|ac566/user/images/inda_ph012b.jpg NSUS|ac566/user/images/index_ph45b.jpg NSUS|ac566/user/images/index_dot.jpg NSUS|ac566/user/images/inda_dot.jpg NSUS|ac566/user/images/inda_ph_point.gif
vti_lineageid:SR|{450EF01E-3182-4370-9C3E-7D9BF8C5FFBE}
vti_backlinkinfo:VX|ac566/user/imp_rules.aspx ac566/user/logine.aspx
