vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Aug 2005 14:31:59 -0000
vti_extenderversion:SR|5.0.2.5012
vti_cacheddtm:TX|19 Aug 2005 14:31:59 -0000
vti_filesize:IR|588
vti_lineageid:SR|{C5A75303-26F5-402B-806D-F63C3E49CA97}
vti_backlinkinfo:VX|ac566/user/imp_rules.aspx
