vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Aug 2005 12:29:16 -0000
vti_extenderversion:SR|5.0.2.5012
vti_cacheddtm:TX|18 Aug 2005 12:29:16 -0000
vti_filesize:IR|131
vti_lineageid:SR|{41E3AA87-37B2-42EA-85AB-E3CDA62DEDC1}
vti_backlinkinfo:VX|ac566/user/betting-entry.aspx ac566/user/quickinput.aspx ac566/user/temp.htm
