vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Aug 2005 15:50:07 -0000
vti_extenderversion:SR|5.0.2.5012
vti_cacheddtm:TX|04 Aug 2005 15:50:07 -0000
vti_filesize:IR|12847
vti_cachedlinkinfo:VX|S|../images/texture.gif S|../images/texture.gif S|../images/texture.gif S|../images/texture.gif S|../images/texture.gif S|../images/texture.gif S|../images/texture.gif S|../images/texture.gif S|../images/texture.gif
vti_cachedsvcrellinks:VX|FSUS|ac566/user/images/texture.gif FSUS|ac566/user/images/texture.gif FSUS|ac566/user/images/texture.gif FSUS|ac566/user/images/texture.gif FSUS|ac566/user/images/texture.gif FSUS|ac566/user/images/texture.gif FSUS|ac566/user/images/texture.gif FSUS|ac566/user/images/texture.gif FSUS|ac566/user/images/texture.gif
vti_lineageid:SR|{20A8ACB8-2CEF-4580-A2A6-0DD6C8DEDA0F}
vti_backlinkinfo:VX|ac566/user/announcement-page.aspx ac566/user/betting-entry-bk.aspx ac566/user/history-goal.aspx ac566/user/select-league.aspx
