<div class="w1000 m0auto text_center fz14 white" style="padding:20px 0 0 0;">
    
    <table class="black">
            <thead>
                <tr class="hgt40 line_hgt40 border_b1" style="background: #CCCCCC">
                    <td class="border_r1">号码</td>
                    <td class="border_r1">勾选</td>
                    <td class="border_r1">号码</td>
                    <td class="border_r1">勾选</td>
                    <td class="border_r1">号码</td>
                    <td class="border_r1">勾选</td>
                    <td class="border_r1">号码</td>
                    <td class="border_r1">勾选</td>
                    <td class="border_r1">号码</td>
                    <td class="border_r1">勾选</td>
                </tr>
            </thead>
            <tbody>
                <tr class="hgt36 line_hgt36 border_b1" style="background: #F1F1F1">
                    <td class="border_r1">0</td>
                    <td class="border_r1">
                        <input type="checkbox" ng-model="data.betMoney['id_0']"  class="middle"></td>
                    <td class="border_r1">1</td>
                    <td class="border_r1">
                        <input type="checkbox" ng-model="data.betMoney['id_1']"  class="middle"></td>
                    <td class="border_r1">2</td>
                    <td class="border_r1">
                        <input type="checkbox" ng-model="data.betMoney['id_2']"  class="middle"></td>
                    <td class="border_r1">3</td>
                    <td class="border_r1">
                        <input type="checkbox" ng-model="data.betMoney['id_3']" class="middle"></td>
                    <td class="border_r1">4</td>
                    <td class="border_r1">
                        <input type="checkbox" ng-model="data.betMoney['id_4']"  class="middle"></td>
                </tr>
                <tr class="hgt36 line_hgt36 border_b1" style="background: #F1F1F1">
                    <td class="border_r1">5</td>
                    <td class="border_r1">
                        <input type="checkbox" ng-model="data.betMoney['id_5']"  class="middle"></td>
                    <td class="border_r1">6</td>
                    <td class="border_r1">
                        <input type="checkbox" ng-model="data.betMoney['id_6']" class="middle"></td>
                    <td class="border_r1">7</td>
                    <td class="border_r1">
                        <input type="checkbox" ng-model="data.betMoney['id_7']" class="middle"></td>
                    <td class="border_r1">8</td>
                    <td class="border_r1">
                        <input type="checkbox" ng-model="data.betMoney['id_8']" class="middle"></td>
                    <td class="border_r1">9</td>
                    <td class="border_r1">
                        <input type="checkbox" ng-model="data.betMoney['id_9']" class="middle"></td>
                </tr>
            </tbody>
        </table>
   
</div>
