.vip_banner, .vip_tese, .vip_head, .vip_form, .button {
  margin-left: auto;
  margin-right: auto;
}

.input-group .input:before, .input-group .input:after {
  content: "";
  display: table;
  font: 0/0;
}
.input-group .input:after {
  clear: both;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

cite, em {
  font-style: normal;
}

li, ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
:focus,*[hidefocus],input,textarea,a,button{outline:0;}
html, body { 
  color: #fff;
  font-size: 0.875rem;
  font-family: Arial, "Microsoft Yahei", Helvetica;
}

h1, h2, h3 {
  font-weight: normal;
}

@media screen and (min-width: 480px) {
  html, body, button, input, select, textarea {
    font-size: 18px;
  }
}
@media screen and (min-width: 640px) {
  html, body, button, input, select, textarea {
    font-size: 24px;
  }
}
::-webkit-input-placeholder {
  color: #f1baad;
}

:-moz-placeholder {
  color: #f1baad;
}

::-moz-placeholder {
  color: #f1baad;
}

:-ms-input-placeholder {
  color: #f1baad;
}

.backgroundColor {
width:100%; height:100%;  
background: -ms-linear-gradient(top, #ee6b4e, #c34b2d);        /* IE 10 */
background:-moz-linear-gradient(top, #ee6b4e, #c34b2d);/*火狐*/ 
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ee6b4e), to(#c34b2d));/*谷歌*/ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ee6b4e), to(#c34b2d));      /* Safari 4-5, Chrome 1-9*/
background: -webkit-linear-gradient(top, #ee6b4e, #c34b2d);   /*Safari5.1 Chrome 10+*/
background: -o-linear-gradient(top, #ee6b4e, #c34b2d);  /*Opera 11.10+*/
background-repeat:no-repeat;
background-color:#c34b2d;


}
/*.backgroundColor {
  height: 100%;
  background: #ee6b4e url(../img/bg.png) repeat-x;
 
}*/

.vip_banner {
  width: 15.9375rem;
  height: 10.53125rem;
  background: url(../img/vip_banner.png);
  background-size: 15.9375rem 10.53125rem;
  -o-background-size: 15.9375rem 10.53125rem;
  -ms-background-size: 15.9375rem 10.53125rem;
  -moz-background-size: 15.9375rem 10.53125rem;
  -webkit-background-size: 15.9375rem 10.53125rem;
}
 
.vip_tese {
  width: 18.5rem;
  margin-top: 2rem;
}
.vip_tese li {
  height: 3.875rem;
  margin-top: 0.5rem;
  margin-bottom: 1.3125rem;
}
.vip_tese li .ico {
  position: relative;
  float: left;
  width: 3.125rem;
  height: 3.125rem;
  margin-left: 0.375rem;
  margin-right: 0.375rem;
  background-repeat: no-repeat;
  background-size: 3.125rem 3.125rem;
  -o-background-size: 3.125rem 3.125rem;
  -ms-background-size: 3.125rem 3.125rem;
  -moz-background-size: 3.125rem 3.125rem;
  -webkit-background-size: 3.125rem 3.125rem;
}
.vip_tese li .ico:before {
  position: absolute;
  top: -0.375rem;
  left: -0.375rem;
  content: "";
  width: 3.875rem;
  height: 3.875rem;
  background-repeat: no-repeat;
  background-size: 3.875rem 3.875rem;
  -o-background-size: 3.875rem 3.875rem;
  -ms-background-size: 3.875rem 3.875rem;
  -moz-background-size: 3.875rem 3.875rem;
  -webkit-background-size: 3.875rem 3.875rem;
  background-image: url(../img/ico_huan.png);
}
.vip_tese li .vip_txt {
  float: left;
  margin-left: 0.5625rem;
}
.vip_tese li h2 {
  height: 1.8125rem;
  line-height: 1.8125rem;
  font-size: 1.25rem;
  color: #fff;
}
.vip_tese li p {
  height: 1.4375rem;
  line-height: 1.4375rem;
  font-size: 1rem;
  color: #fff;
  opacity: .68;
}

.ico_yiduiyi {
  background-image: url(../img/ico_yiduiyi.png);
}

.ico_chongzhi {
  background-image: url(../img/ico_chongzhi.png);
}

.ico_tikuan {
  background-image: url(../img/ico_tikuan.png);
}

.btn {
  display: block;
  width: 13.9375rem;
  height: 3.125rem;
  padding: 0 2rem;
  margin: 1.75rem auto;
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid rgba(255, 255, 255, 0.93);
  border-radius: 1.5625rem;
  background: none;
  background-clip: border-box;
  -moz-background-clip: border;
  -webkit-background-clip: border;
}

.padding_top80 {
  padding-top: 2.5rem;
  /*padding-bottom: 5.7rem;*/
}

.vip_head {
  width: 6.9375rem;
  height: 7.5rem;
  background-size: 6.9375rem 7.5rem;
  -o-background-size: 6.9375rem 7.5rem;
  -ms-background-size: 6.9375rem 7.5rem;
  -moz-background-size: 6.9375rem 7.5rem;
  -webkit-background-size: 6.9375rem 7.5rem;
}

.vip_head.head_register {
  background-image: url(../img/head_register.png);
}

.vip_head.head_identity {
  background-image: url(../img/head_identity.png);
}

.vip_head.head_success {
  background-image: url(../img/head_success.png);
}

.vip_head_h {
  font-size: 1.25rem;
  text-align: center;
  margin-top: .6rem;
}

.vip_head_h2 {
  font-size: 0.9375rem;
  text-align: center;
  margin-top: .6rem;
}

.vip_head_h3 {
  line-height: 1.25rem;
  font-size: 0.875rem;
  text-align: center;
  color: #eee3db;
  margin-top: .6rem;
}

.vip_form {
  display: block;
  width: 84%;
  margin-top: 5rem;
  background-color: rgba(255, 255, 255, 0.21);
  border-radius: .375rem;
}

.input-group {
  width: 100%;
}
.input-group:before, .input-group:after {
  content: ' ';
  box-sizing: border-box;
}
.input-group .input {
  position: relative;
  height: 3.125rem;
  padding-left: 3.125rem;
  line-height: 3.125rem;
  border: 1px solid #dfc0b9;
  border-bottom: none;
}
.input-group .input:first-child {
  border-radius: .375rem .375rem 0 0;
}
.input-group .input:last-child {
  border-radius: 0 0 .375rem .375rem;
  border-bottom: 1px solid #dfc0b9;
}
.input-group .input input {
  color: #fff;
  font-size: 1.0625rem;
  background: none;
  border: none;
  width:15rem;  
}

.icon_user {
  background-image: url(../img/icon_user.png);
}

.icon_password {
  background-image: url(../img/icon_password.png);
}

.icon_phone {
  background-image: url(../img/icon_phone.png);
}

.icon_message {
  background-image: url(../img/icon_message.png);
}

.icons {
  position: absolute;
  left: 1rem;
  top: 0.90625rem;
  display: block;
  width: 1.2rem;
  height: 1.3rem;
  background-size: 1.09375rem 1.28125rem;
  -o-background-size: 1.09375rem 1.28125rem;
  -ms-background-size: 1.09375rem 1.28125rem;
  -moz-background-size: 1.09375rem 1.28125rem;
  -webkit-background-size: 1.09375rem 1.28125rem;
  background-repeat:no-repeat;
}

.button {
  display: block;
  width: 84%;
  height: 3.125rem;
  margin-top: 2rem;
   margin-bottom: 2rem;
  line-height: 3.125rem;
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  background-color: #f66f34;
  border: none;
  border-radius: .375rem;
}
.button:hover {
  background-color: #f88756;
}

.button-3d {
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 4px 0 #f56f34;
  box-shadow: 0 4px 0 #f56f34;
}
.button-3d:hover {
  -webkit-box-shadow: 0 4px 0 #e26833;
  box-shadow: 0 4px 0 #e26833;
}

.button-3d.button-primary {
  -webkit-box-shadow: 0 4px 0 #cd541f, 0 4px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 0 #cd541f, 0 4px 4px rgba(0, 0, 0, 0.3);
}
.button-3d.button-primary:hover {
  -webkit-box-shadow: 0 2px 0 #e26833, 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 0 #e26833, 0 2px 4px rgba(0, 0, 0, 0.3);
}

.button-3d.button-primary[disabled=disabled] {
  box-shadow: none;
  background-color: #ea6948;
  color: #f2a28e;
}
.button-3d.button-primary[disabled=disabled]:hover {
  background-color: #ea6948;
}


.alertBox{position: fixed;left:8%;top:80%;width:80%; padding:10px 2%; color:#fff;line-height:24px;font-size:14px;text-align:center;border-radius:5px;background:#000;
-webkit-animation:boxfade 2s ease;-ms-animation:boxfade 2s ease;-o-animation:boxfade 2s ease; z-index:100;}
/*动画*/
.vip_banner {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
.vip_tese li .ico{
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
.vip_tese li:first-child .ico{
  -webkit-animation-delay:.5s;
  animation-delay:.5s;
}
.vip_tese li:nth-child(2) .ico{ 
  -webkit-animation-delay:1.3s;
  animation-delay:1.3s;
}
.vip_tese li:last-child .ico{
  -webkit-animation-delay:2.3s;
  animation-delay:2.3s;
}

.vip_tese li .vip_txt{
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;  
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.vip_tese li:first-child .vip_txt{
  -webkit-animation-delay:.8s;
  animation-delay:.8s;
}
.vip_tese li:nth-child(2) .vip_txt{ 
  -webkit-animation-delay:1.8s;
  animation-delay:1.8s;
}
.vip_tese li:last-child .vip_txt{
  -webkit-animation-delay:2.8s;
  animation-delay:2.8s;
}

.btn{
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-delay:3.2s;
  animation-delay:3.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}


@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-80deg);
    transform: rotate(-80deg);
    opacity: 0
  }

  100% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
    opacity: 0
  }

  100% {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
}
