<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Dip" value="localhost" />
    <add key="SqlPort" value="3306" />
    <add key="Duser" value="root" />
    <add key="Dpassword" value="zkeys" />
    <add key="Db" value="us" />
    <add key="Port" value="80" />
    <add key="gx" value="false" />
    <add key="AutoStart" value="false" />
    <add key="AutoRun" value="true" />
    <add key="jx" value="false" />
    <add key="gd" value="true" />
    <add key="cq" value="true" />
    <add key="nc" value="true" />
    <add key="pk" value="true" />
    <add key="k3" value="true" />
    <add key="jie" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>
