.mt10{
  margin-top: 10px;
}
.mb10{
  margin-bottom: 10px
}
.yzActive{
  color: white;
  background-color: #BD2929;
}
.ezActive{
  color: white;
  background-color: #BD2929;
}
.swActive{
  color: white;
  background: #6AC335;
}
.w33per{
	width: 33%
}