<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404页面</title>
    <!-- css start -->
    <link href="http://www.399cm.com/statics/css/bootstrap.css" rel="stylesheet">
    <link href="http://www.399cm.com/statics/css/font-awesome-3.0.css" rel="stylesheet">
    <link href="http://www.399cm.com/statics/css/base.css" rel="stylesheet">
    <link href="http://www.399cm.com/statics/css/main.css" rel="stylesheet">
    <!-- <link href="http://www.399cm.com/statics/css/{$data}" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="http://www.399cm.com/statics/css/404.css">
    <!-- css end -->
    <!--[if lt IE 9]>
    <script src="http://www.399cm.com/statics/js/selectivizr.js"></script>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<header class="header">
    <div class="container">
        <div class="row">
            <!--logo-->
            <a href="http://www.399cm.com/" class="logo">
                <img src="http://www.399cm.com/statics/images/logo.png"></a>
            <!-- logo -->

            <ul class="nav-sidebar">
                <li>
                    <a id="follow" href="#" class="gray"> <i class="icon-star"></i>
                        关注
                    </a>
                </li>
                <li>
                    <div class="search"> <i class="icon-search"></i>
                        <input type="text" class="input-search" placeholder="搜索"></div>
                </li>
            </ul>

            <!--nav-->
            <ul class="nar-bar clearfix">
                <li>
                    <a class="active" href="http://www.399cm.com/">首页</a>
                </li>
                <!--<li>-->
                    <!--<a href="http://www.399cm.com/todo/">竟猜</a>-->
                <!--</li>-->
                <li data-action="nav-menu">
                    <a  href="javascript:;">即时比分</a>
                    <ul class="children" style="display: none;">
                        <li>
                            <a href="http://www.399cm.com/zqscore/">足球即时比分</a>
                        </li>
                        <li>
                            <a href="http://www.399cm.com/lqscore/">篮球即时比分</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a  href="http://www.399cm.com/cp/info/">彩票开奖</a>
                </li>
                <li data-action="nav-menu">
                    <a href="javascript:;">指数中心</a>
                    <ul class="children" style="display: none;">
                        <li>
                            <a href="http://www.399cm.com/zqodds/">足球赔率</a>
                        </li>
                        <li>
                            <a href="http://www.399cm.com/lqodds/">篮球赔率</a>
                        </li>
                    </ul>
                </li>
                <li data-action="nav-menu">
                    <a href="javascript:;">资料库</a>
                    <ul class="children" style="display: none;">
                        <li>
                            <a href="http://www.399cm.com/zqevent/">足球数据库</a>
                        </li>
                        <li>
                            <a href="http://www.399cm.com/lqevent/">篮球数据库</a>
                        </li>
                    </ul>
                </li>
                <li data-action="nav-menu">
                    <a href="javascript:;">情报中心</a>
                    <ul class="children" style="display: none;">
                        <li>
                            <a href="http://www.399cm.com/zcfx/">足彩分析</a>
                        </li>
                        <li>
                            <a href="http://www.399cm.com/zcyc/">足彩预测</a>
                        </li>
                        <li>
                            <a href="http://www.399cm.com/zctj/">足彩推荐</a>
                        </li>
                    </ul>
                </li>
                <li data-action="nav-menu">
                    <a href="javascript:;">体坛资讯</a>
                    <ul class="children" style="display: none;">
                        <li>
                            <a href="http://www.399cm.com/wdls/">五大联赛</a>
                        </li>
                        <li>
                            <a href="http://www.399cm.com/cnzt/">中国足坛</a>
                        </li>
                        <li>
                            <a href="http://www.399cm.com/sjzt/">世界足坛</a>
                        </li>
                    </ul>
                </li>
                <li data-action="nav-menu">
                    <a href="javascript:;">体坛图库</a>
                    <ul class="children" style="display: none;">
                        <li>
                            <a href="http://www.399cm.com/zqbaobei/">足球宝贝</a>
                        </li>
                        <li>
                            <a href="http://www.399cm.com/lqbaobei/">篮球宝贝</a>
                        </li>
                        <li>
                            <a href="http://www.399cm.com/video/">精彩视频</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a  href="http://www.399cm.com/st/list/" rel="nofollow">股指行情</a>
                </li>
            </ul>
            <!--nav end--> </div>
    </div>
</header>
<div class="content-found">
    <div class="pic">
        <a href="http://www.399cm.com/" class="return"></a>
    </div>
    <div class="link_con">
        <a href="http://www.399cm.com/zqscore/" class="linkTo active">足球即时比分</a>
        <a href="http://www.399cm.com/lqscore/" class="linkTo">篮球即时比分</a>
        <a href="http://www.399cm.com/zqodds/" class="linkTo">足球赔率</a>
        <a href="http://www.399cm.com/lqodds/" class="linkTo">篮球赔率</a>
        <a href="http://www.399cm.com/zqevent/" class="linkTo">足球数据库</a>
        <a href="http://www.399cm.com/lqevent/" class="linkTo">篮球数据库</a>
        <a href="http://www.399cm.com/zcfx/" class="linkTo">足彩分析</a>
        <a href="http://www.399cm.com/zcyc/" class="linkTo">足彩预测</a>
        <a href="http://www.399cm.com/zctj/" class="linkTo">足彩推荐</a>
        <a href="http://www.399cm.com/zqbaobei/" class="linkTo">足球宝贝</a>
        <a href="http://www.399cm.com/lqbaobei/" class="linkTo">篮球宝贝</a>
    </div>
</div>
<!--footer end-->
<script src="http://www.399cm.com/statics/js/jquery-1.11.3.min.js"></script>
<script src="http://www.399cm.com/statics/js/bootstrap.js"></script>
<script src="http://www.399cm.com/statics/js/common.js"></script>
<script src="http://www.399cm.com/statics/js/navication.js"></script>
<script>
    var isFollow=true;
    $("#follow").click(function(){
        if(isFollow){
            alert('已经收藏');
            $(this).css({color:'red'});
            isFollow=false;
        }else{
            alert('取消收藏');
            $(this).css({color:'#ccc'});
            isFollow=true;
        }
    });
</script>
<!-- <script src="{$src}"></script> -->
</body>
</html>