<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- css start -->
    <link href="{CSS_PATH}bootstrap.css" rel="stylesheet">
    <link href="{CSS_PATH}font-awesome-3.0.css" rel="stylesheet">
    <link href="{CSS_PATH}base.css" rel="stylesheet">
    <link href="{CSS_PATH}main.css" rel="stylesheet">
    <!-- css end -->
    <!--[if lt IE 9]>
    <script src="http://www.399bf.com/statics/js/selectivizr.js"></script>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="notfond" style="position: absolute;top: 50%;width: 1000px;height: 464px;margin: -232px auto 0 -500px;left: 50%;">
        <a href="{APP_PATH}" style="position:absolute;display: block;width: 136px;height: 35px;left: 65px;top: 44px;z-index: 1;"></a>
        <img src="{IMG_PATH}404.png" alt="">
    </div>
</body>
</html>