BODY {
	background-color: #AACCCC;
	margin-left: 0px;
	margin-top: 0px;
	COLOR: #3e4859; 
	font-family: "Verdana"; 
	font-size: 8.5pt 
}
TD {
	COLOR: #3e4859; 
	font-family: "Verdana"; 
	font-size: 8.5pt 
}
INPUT {
	COLOR: #3e4859; 
	font-family: "Verdana"; 
	font-size: 12px 
}