.id_top i, .id_success i, .id_success i img, .id_add, .id_add .id_addimg, .button {
  margin-left: auto;
  margin-right: auto;
}

.id_form li:before, .id_form li.point:before, .id_form li:after, .id_form li.point:after {
  content: "";
  display: table;
  font: 0/0;
}
.id_form li:after, .id_form li.point:after {
  clear: both;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

cite, em {
  font-style: normal;
}

li, ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
  color: #333;
  font-size: 0.875rem;
  font-family: Arial, "Microsoft Yahei", Helvetica;
  background-color: #f5f4f9;
}

h1, h2, h3 {
  font-weight: normal;
}
:focus,*[hidefocus],input,textarea,a,button{outline:0;}
@media screen and (min-width: 480px) {
  html, body, button, input, select, textarea {
    font-size: 18px;
  }
}
@media screen and (min-width: 640px) {
  html, body, button, input, select, textarea {
    font-size: 24px;
  }
}
::-webkit-input-placeholder {color: #c7c7c7; font-size:1.2rem;}
:-moz-placeholder {color: #c7c7c7;font-size:1.2rem;}
::-moz-placeholder {color: #c7c7c7; font-size:1.2rem;}
:-ms-input-placeholder {color: #c7c7c7; font-size:1.2rem;}


.id_top {
  width: 100%;
  padding-top: 2.51852rem;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
}
.id_top i {
  display: block;
  width: 4.74074rem;
  height: 4.74074rem;
  border-radius: 1.03704rem;
   margin-bottom: 1rem;
}
.id_top i img {
  width: 4.74074rem;
  height: 4.74074rem;
  border-radius: 1.03704rem;
}

.id_form {
  display: block;
  width: 96%;
  padding-left: 4%;
  margin-top: 3.18519rem;
  font-size: 1.18519rem;
}
.id_form li {
  padding: 0.92593rem 0;
}
.id_form li:first-child {
  border-bottom: 1px solid #e1e1e1;
}
.id_form li span {
  width: 19%;
}
.id_form li input {
  width: 76%;
}
/*.id_form li:last-child span {
  width: 14%;
}
.id_form li:last-child input {
  width: 81%;
}*/
.id_form li.newid span {
  width: 24%;
}
.id_form li.newid input {
  width: 71%;
}
.id_form li span {
  display: inline-block;
  height: 1.7037rem;
  float: left;
  line-height: 1.7037rem;
}
.id_form li input {
  display: inline-block;
  height: 1.7037rem;
  float: left;
  line-height: 1.7037rem;
  /*text-align: right;*/
  font-size: 1.18519rem;
  border: none;
}
.id_form li.point {
  padding: 0;
  height: 0.88889rem;
  line-height: 0.88889rem;
  text-align: right;
}
.id_form li.point > span {
  width: 95%;
  color: #ff0000;
  font-size: .875rem;
}

.id_success {
  overflow:hidden;
}
.id_success i {
  display: block;
  width: 5.85185rem;
  height: 5.85185rem;
  text-align: center;
  line-height: 7.5rem;
  background-color: #31ba8e;
  border-radius: 2.92593rem;
  margin-top:8.9rem;
}
.id_success i img {
  width: 3.25926rem;
  height: 2.37037rem;
}
.id_success h2 {
  margin-top: 1.33333rem;
}
.id_success p {
  margin-top: 2.07407rem;
  line-height: 1.48148rem;
  font-size: 1.03704rem;
  color: #555;
  text-align: center;
}

.id_add {
  position: relative;
  width: 92%;
  height:14.37rem;  
  text-align: center;
  border: 1px dashed #fdaa9b;
  border-radius: 3px;
}
.id_add .id_addimg {  
  width: 11.2963rem;
  height: 6.66667rem;
  margin-top:1.185rem;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(254, 172, 157, 0.16);
}
.id_add .addinput {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0;
}
.id_add .id_addimg img {
  width: 11.2963rem;
  height: 6.66667rem;
  box-shadow: 0 0.25926rem 5px rgba(228, 180, 180, 0.36);
  
}
.id_add p {
  height: 3.33333rem;
  line-height: 3.33333rem;
  color: #f84b32;
  font-size: 1.11111rem;
}
.id_add p.id_addp2{font-size:.875rem; line-height:1.2rem; padding:0 .5rem;}

.h2 {
  height: 2.74074rem;
  line-height: 2.74074rem;
  font-size: 1.18519rem;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.button {
  display: block;
  width: 92%;
  height: 3.25926rem;
  margin-top: 2.66667rem;
  line-height: 3.25926rem;
  color: #fff;
  text-align: center;
  font-size: 1.33333rem;
  background-color: #fc5638;
  border: none;
  border-radius: .375rem;
}
.button:hover {
  opacity: .5;
}

.button[disabled=disabled] {
  opacity: .5;
}

.bg_fff {
  background-color: #fff;
}

.padding_bottom3 {
  padding-bottom: 1.11111rem;
}

.margin_bottom8 {
  margin-bottom: 1.7037rem;
}

.margin_top {
  margin-top: 1.11111rem;
}

.box-shadow1 {
  box-shadow: 1px 3px 8px rgba(244, 133, 49, 0.89); 
}

.box-shadow2 {
  box-shadow: 1px 3px 8px rgba(254, 172, 157, 0.5);
}

.alertBox{position: fixed;left:8%;top:80%;width:80%; padding:10px 2%; color:#fff;line-height:24px;font-size:14px;text-align:center;border-radius:5px;background:#000;
-webkit-animation:boxfade 2s ease;-ms-animation:boxfade 2s ease;-o-animation:boxfade 2s ease; z-index:100;}

@media screen and (min-width: 1200px) { 
  body{ background-color: #333;}
  .bg_fff{ background-color: #333;}
  article{ width:600px; height:100%; margin:0 auto; background-color: #f5f4f9;}
}

