<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$SEO['title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

    <link rel="stylesheet" href="{WAP_CSS_PATH}font-awesome.min.css">
    <link rel="stylesheet" href="{WAP_CSS_PATH}main.css">
    <link rel="stylesheet" href="{WAP_CSS_PATH}bt_immediate.css">
</head>
<body>
<div class="page-group">
    <div class="page page-current" id="bt_event">

        <header class="bar bar-nav">
            <a class="button pull-left btn-back back close-popup" href="{WAP_PATH}lqscore/">
                <i class="fa fa-angle-left fa-2x orange"></i>
            </a>
            <h1 class='title'><a class="icon-angle-left fl"></a>篮球资料库</h1>
        </header>

        <!--<div class="bar bar-header-secondary">-->
            <!--<div class="searchbar">-->
                <!--<a class="searchbar-cancel">取消</a>-->
                <!--<div class="search-input">-->
                    <!--<label class="icon icon-search" for="search"></label>-->
                    <!--<input type="search" id='search' placeholder='搜索'/>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="content">
            <div class="buttons-tab">
                {loop $area $key $r}
                <a href="#tab-{$key}" class="ft tab-item tab-link button {if $key === 'euro'}active{/if}">{$r['name']}</a>
                {/loop}
            </div>
            <div class="content-block">
                <div class="tabs">
                    {loop $stat $key $value}
                    <div id="tab-{$key}" class="tab {if $key === 'euro'}active{/if}">
                        <div class="content-block">
                            <div class="buttons-row inner-nav">
                                <a href="#country-{$key}" class="button button-round active tab-link">国家</a>
                                <a href="#state-{$key}" class="button button-round tab-link">洲际</a>
                            </div>
                        </div>
                        <div class="tabs">
                                <!--国家-->
                                {php $countryArr = array_chunk($value['country']['countryname'], ceil(count($value['country']['countryname'])/3));}
                                <div id="country-{$key}" class="tab active">
                                    <div class="content-block">
                                        <div class="row mt15">
                                            {loop $countryArr $key2 $value2}
                                            <div class="col-33 " {if $key2 != 0}style="border-left: 1px solid #cccccc;"{/if}>
                                                {loop $value2 $r}
                                                <div class="item">
                                                    <a href="#country-list-{$r['countryid']}" class="item-country">
                                                        <img src="" height="40" class="fl mar10 bt-competition-photo">
                                                        <div class="team-name">{$r['countryname']}</div>
                                                    </a>
                                                </div>
                                                {/loop}
                                            </div>
                                            {/loop}
                                        </div>
                                    </div>
                                </div>
                                <!--洲际-->
                                {php $sclassArr = array_chunk($value['zone'], ceil(count($value['zone'])/3));}
                                <div id="state-{$key}" class="tab">
                                    <div class="content-block">
                                        <div class="row mt15">
                                            {loop $sclassArr $key2 $value2}
                                            <div class="col-33 " {if $key2 != 0}style="border-left: 1px solid #cccccc;"{/if}>
                                                {loop $value2 $r}
                                                <div class="item">
                                                    <a href="{WAP_PATH}sclass/{$r['sclassid']}/schedule/" class="close-popup">
                                                        <img src="" height="40" class="fl mar10 bt-competition-photo">
                                                        <div class="team-name">{$r['name']}</div>
                                                    </a>
                                                </div>
                                                {/loop}
                                            </div>
                                            {/loop}
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    {/loop}
                </div>
            </div>

    {template 'wap', 'footer_nav'}
        </div>
    </div>

    <!-- 内联赛事页 -->
    {loop $stat $key $value}
    {loop $value['country']['sclass'] $id $list}
    <div class="page" id="country-list-{$id}">
        <!-- header -->
        <header class="bar bar-nav">
            <a class="button pull-left btn-back" href="#bt_event">
                <i class="fa fa-angle-left fa-2x orange"></i>
            </a>
            <nav class="header-nav ml">
                <div class="buttons-row">
                    <span class="button">{$value['country']['countryname'][$id]['countryname']}</span>
                </div>
            </nav>
        </header>
        <!-- header end -->
        <div class="content">

            <!-- match -->
            <div class="match-box">
                <div class="row">
                    {loop $list $r}
                    <div class="col-50">
                        <a href="{WAP_PATH}sclass/{$r['sclassid']}/schedule/" class="match-item close-popup">
                            <img src="" alt="" class="pull-left bt-competition-photo" style="height: 1.8rem;margin-top: 0.15rem;">
                            {$r['name']}
                        </a>
                    </div>
                    {/loop}
                </div>
            </div>
            <!-- match end -->
        </div>
    </div>
    {/loop}
    {/loop}

</div>

<script>
    var router = true;
</script>
{template 'wap', 'wap_footer'}
