{php $css = array('bt_immediate.css')}
{php $nav_id = 2} 
{template 'wap', 'wap_header'}
        <div class="content">
            <div class="buttons-tab">
                <a href="{WAP_PATH}sclass/{$sclassid}/standings/" class="close-popup button">积分</a>
                <a href="{WAP_PATH}sclass/{$sclassid}/schedule/" class="close-popup button">赛程</a>
                <a href="{WAP_PATH}sclass/{$sclassid}/teamTechnic/" class="close-popup button active">球队统计</a>
                <a href="{WAP_PATH}sclass/{$sclassid}/playerTechnic/" class=" close-popup button">球员统计</a>
            </div>
            <div class="content-block">
                <div class="tabs">
                    <!--球队统计-->
                    <div id="tab3" class="tab active">
                        <div class="shop">
                            <div class="content-block">
                                <div class="btn-group fl">
                                    <input id="event" class="btn" type="text" value="常规赛">
                                    <i class="fa fa-angle-down btn-pos"></i>
                                </div>
                                <div class="buttons-row tab-pos">
                                    <a href="#cg" class="tab-link active button">常规数据</a>
                                    <a href="#gs" class="tab-link button">攻守数据</a>
                                </div>
                            </div>
                        </div>
                        {loop $stat $cat $team_info}
                        <div class="tabs">
                            <div id="cg" class="tab active">
                                <table class="count-table">
                                    <tr>
                                        <td>球队</td>
                                        <td>赛次</td>
                                        <td>平均<br>得分</td>
                                        <td>平均<br>失分</td>
                                        <td>投篮<br>命中</td>
                                        <td>三分<br>命中</td>
                                        <td>罚球<br>命中</td>
                                    </tr>
                                    {loop $team_info $r}
                                    <tr>
                                        <td>{$r['teamname']}</td>
                                        <td>{$r['total']}</td>
                                        <td>{$r['avg_score']}</td>
                                        <td>{$r['avg_lossscore']}</td>
                                        <td>{$r['shoot_hit_rate']}</td>
                                        <td>{$r['threemin_hit_rate']}</td>
                                        <td>{$r['punishball_hit_rate']}</td>
                                    </tr>
                                    {/loop}
                                </table>
                            </div>
                            <div id="gs" class="tab">
                                <table class="count-table">
                                    <tr>
                                        <td>球队</td>
                                        <td>赛次</td>
                                        <td>平均<br>篮板</td>
                                        <td>平均<br>助攻</td>
                                        <td>平均<br>盖帽</td>
                                        <td>平均<br>抢断</td>
                                        <td>平均<br>失误</td>
                                        <td>平均<br>犯规</td>
                                    </tr>
                                    {loop $team_info $r}
                                    <tr>
                                        <td>{$r['teamname']}</td>
                                        <td>{$r['total']}</td>
                                        <td>{$r['avg_attack_defend']}</td>
                                        <td>{$r['avg_helpattack']}</td>
                                        <td>{$r['avg_cover']}</td>
                                        <td>{$r['avg_rob']}</td>
                                        <td>{$r['avg_misplay']}</td>
                                        <td>{$r['avg_foul']}</td>
                                    </tr>
                                    {/loop}
                                </table>
                            </div>
                        </div>
                        {/loop}
                    </div>
            </div>
            {template 'wap', 'footer_nav'}
        </div>


</div>
</div>

{template 'wap', 'wap_footer'}

<script>
    $("#event").picker({
        toolbarTemplate: '<header class="bar bar-nav">\
                           <button class="button button-link pull-right close-picker">确定</button>\
                            <h1 class="title">请选择联赛阶段</h1>\
                         </header>',
        cols: [
            {
                textAlign: 'center',
                values: ['常规赛']
            }
        ]
    });

</script>