<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$SEO['title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- build css -->
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

    <link rel="stylesheet" href="{WAP_CSS_PATH}font-awesome.min.css">
    <link rel="stylesheet" href="{WAP_CSS_PATH}main.css">
    <link rel="stylesheet" href="{WAP_CSS_PATH}ft_database.css">
    <link rel="stylesheet" href="{WAP_CSS_PATH}ft_competition_hfstat.css">
</head>
<body>
<div class="page-group">

    <!-- 资料 详细页 -->
    <div class="page page-current" id="ft_database">

        <!-- header -->
        <header class="bar bar-nav">
            <a class="button pull-left btn-back" href="{WAP_PATH}zqevent/">
                <i class="icon icon-left orange"></i>
            </a>
            <h1 class="title orange">{$competition_info['range']} {$competition_info['shortname']}</h1>
            <a href="#" class="button pull-right btn-orange open-about-type">类型</a>
        </header>
        <!-- header end -->


        <div class="content">

            <!-- 二级导航 -->
            <div class="buttons-tab">
                <a href="{WAP_PATH}competition/{$competitionid}/standings/"
                   class="tab-item button">积分</a>
                <a href="{WAP_PATH}competition/{$competitionid}/schedule/"
                   class="tab-item button">赛程</a>
                <a href="{WAP_PATH}competition/{$competitionid}/oddsway/"
                   class="tab-item button">盘路</a>
                <a href="{WAP_PATH}competition/{$competitionid}/hfstat/"
                   class="tab-item active button">半全场</a>
                <a href="{WAP_PATH}competition/{$competitionid}/shooter/"
                   class="tab-item button">射手榜</a>
            </div>
            <!-- 二级导航 end-->

            <!-- match table -->
            <div class="match-table">
                <table class="table" id="stat-table">
                    <thead>
                    <tr>
                        <td rowspan="2">球队</td>
                        <td>半场</td>
                        <td>胜</td>
                        <td>胜</td>
                        <td>胜</td>
                        <td>和</td>
                        <td>和</td>
                        <td>和</td>
                        <td>负</td>
                        <td>负</td>
                        <td>负</td>
                    </tr>
                    <tr>
                        <td>全场</td>
                        <td>胜</td>
                        <td>和</td>
                        <td>负</td>
                        <td>胜</td>
                        <td>和</td>
                        <td>负</td>
                        <td>胜</td>
                        <td>和</td>
                        <td>负</td>
                    </tr>

                    </thead>
                    {loop $hfstat_info $type $list}
                    <tbody data-type="{$type}" class="{if $type == 'total'}active{/if}">
                        {loop $list $data}
                        <tr>
                            <td colspan="2">{$data['teamname']}</td>
                            <td>{$data['hwinfwin']}</td>
                            <td>{$data['hwinfdraw']}</td>
                            <td>{$data['hwinflose']}</td>
                            <td>{$data['hdrawfwin']}</td>
                            <td>{$data['hdrawfdraw']}</td>
                            <td>{$data['hdrawflose']}</td>
                            <td>{$data['hlosefwin']}</td>
                            <td>{$data['hlosefdraw']}</td>
                            <td>{$data['hloseflose']}</td>
                        </tr>
                        {/loop}
                    </tbody>
                    {/loop}
                </table>
            </div>
            <!-- match table end -->


            {template 'wap', 'footer_nav'}


        </div>

        <!-- 赔率类型弹窗 -->
        <div class="popup popup-about-type" data-action="table-tab" data-target="#stat-table">
            <header class="bar bar-nav">
                <h1 class="title">类型选择</h1>
                <a class="close pull-right popup-close-type">&times</a>
            </header>
            <div class="content-block">
                <div class="ss-list">
                    <div class="cell">
                        <a class="ss-item active" data-type="total">总场数</a>
                    </div>
                    <div class="cell">
                        <a class="ss-item" data-type="home">主场</a>
                    </div>
                    <div class="cell">
                        <a class="ss-item" data-type="away">客场</a>
                    </div>
                </div>
                <div class="ss_ok">
                    <a class="ss_ok_button" id="type_ok">确定</a>
                </div>
            </div>
        </div>

    </div>


</div>

{php $js =['ft_competition_hfstat.js'];}
{template 'wap', 'wap_footer'}
