<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$SEO['title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- build css -->
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

    <link rel="stylesheet" href="{WAP_CSS_PATH}font-awesome.min.css">
    <link rel="stylesheet" href="{WAP_CSS_PATH}main.css">
    <link rel="stylesheet" href="{WAP_CSS_PATH}ft_database.css">
    <!-- build css end -->
</head>
<body>
<div class="page-group">

    <!-- 资料 详细页 -->
    <div class="page page-current" id="ft_database">

        <!-- header -->
        <header class="bar bar-nav">
            <a class="button pull-left btn-back" href="{WAP_PATH}zqevent/">
                <i class="icon icon-left orange"></i>
            </a>
            <h1 class="title orange">{$competition['date']} {$competition['shortname']}</h1>
            <!--<a href="#" class="button pull-right btn-orange open-about-race">分类</a>-->
        </header>
        <!-- header end -->


        <div class="content">


            <!-- 二级导航 -->
            <div class="buttons-tab">
                <a href="{WAP_PATH}competition/{$competitionid}/standings/"
                   class="tab-item button">积分</a>
                <a href="{WAP_PATH}competition/{$competitionid}/schedule/"
                   class="tab-item button">赛程</a>
                <a href="{WAP_PATH}competition/{$competitionid}/oddsway/"
                   class="tab-item button">盘路</a>
                <a href="{WAP_PATH}competition/{$competitionid}/hfstat/"
                   class="tab-item button">半全场</a>
                <a href="{WAP_PATH}competition/{$competitionid}/shooter/"
                   class="tab-item shooter button">射手榜</a>
            </div>
            <!-- 二级导航 end-->

            <!-- match table -->
            <div class="match-table">
                <table class="table">
                    <thead>
                    <tr>
                        <td>排名</td>
                        <td>球员</td>
                        <td>球队</td>
                        <td>总入球(点球)</td>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $shooter $r}
                    <tr>
                        <td>{$r['rank']}</td>
                        <td>
                            <a href="" class="orange">{$r['playername']}</a>
                        </td>
                        <td>{$r['teamname']}</td>
                        <td>{$r['goal']}({$r['goalpenalty']})</td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
            <!-- match table end -->


            {template 'wap', 'footer_nav'}


        </div>

        <!--&lt;!&ndash; 赛季弹窗 &ndash;&gt;-->
        <!--<div class="popup popup-about-race">-->
            <!--<header class="bar bar-nav">-->
                <!--<h1 class="title">统计类型</h1>-->
                <!--<a class="close pull-right popup-close-race">-->
                    <!--&times-->
                <!--</a>-->
            <!--</header>-->
            <!--<ul class="content-block season-select">-->
                <!--<li class="text-center" data-action="link" data-url="{WAP_PATH}index.php?m=wap&c=football&a=competition_standings&competitionid={$competitionid}&type=total">总</li>-->
                <!--<li class="text-center" data-action="link" data-url="{WAP_PATH}index.php?m=wap&c=football&a=competition_standings&competitionid={$competitionid}&type=home">主</li>-->
                <!--<li class="text-center" data-action="link" data-url="{WAP_PATH}index.php?m=wap&c=football&a=competition_standings&competitionid={$competitionid}&type=away">客</li>-->
            <!--</ul>-->
        <!--</div>-->


    </div>


</div>

{template 'wap', 'wap_footer'}
