<nav class="nav">
    <!-- header -->
    <header class="bar bar-nav">
        <a class="button pull-left btn-back" href="{WAP_PATH}zqscore/">
            <i class="icon icon-left"></i>
        </a>
        <h1 class="title white">
            {$game_info['season']} {$game_info['competitionname']}
        </h1>
    </header>
    <!-- header end -->
    <div class="row match-nav">
        <div class="col-33 team">
            <div class="team-icon">
                <img src="{PHOTO_PATH}team/{$game_info['hometeamid']}.jpg" alt="{$game_info['homename']}" class="team-photo">
            </div>
            <div class="team-name">{$game_info['homename']}</div>
        </div>
        <div class="col-33">
            <div class="match-state">
                <div class="score-line">{$game_info['homescore']}:{$game_info['awayscore']}</div>
                <p>{date('Y-m-d', $game_info['date'])}</p>
                <p>{date('H:i', $game_info['date'])}</p>
                <p>{$game_info['status_text']}</p>
            </div>
        </div>
        <div class="col-33 team">
            <div class="team-icon">
                <img src="{PHOTO_PATH}team/{$game_info['awayteamid']}.jpg" alt="{$game_info['awayname']}" class="team-photo">
            </div>
            <div class="team-name">{$game_info['awayname']}</div>
        </div>
    </div>
</nav>
