/.idea/
/caches/configs/system.php
/caches/configs/database.php
/caches/configs/modules.php
/caches/configs/route.php
/caches/caches_*/
/caches/error_log.php
/html/
/.htaccess
/.wap.htaccess
/.htaccess_nginx
/.nginx_rewrite
/.wap_nginx_rewrite
/cron/conn.php
/cron/cron_live_game_data.sh
/index.html
/cron/cron_error.log
/cron/cron_failed.log
/cron/cron_success.log
/cron/win007.com/conn.php
/cron/win007.com/cron_error.bt.log
/cron/win007.com/cron_failed.bt.log
/cron/win007.com/cron_success.bt.log
/cron/caipiaokong.com/conn.php
/cron/caipiaokong.com/cron_error.cp.log
/cron/caipiaokong.com/cron_failed.cp.log
/cron/caipiaokong.com/cron_success.cp.log
/nbproject/private/