<div class="xy28-wrap">
  <div class="cur-issue" style="height: 178px;background-color: #E9E9E9;padding-top:0">
    <div class="absolute" style="right:48px;top:-16px">
      <img ng-src="{{staticURI}}/images/klsf/openTop.png" />
    </div>
    <div class="box-numbers left clearfix" style="position: absolute;left: 109px;top: 35px;background-color: none">
      <div class="code left">
        <div class="result_issue" style="margin-left: -28px">
          {{lotKind}} 第 <b id="result-issue">{{lastNumber}}</b>
          期开奖结果
        </div>
        <div class="result_codes" id="result-codes" style="width: 324px;margin-left: -60px">
          <span ng-repeat="(key,result) in lastResults track by $index" ng-class="{'num_code':result==1||result==4||result==7||result==10||result==13||result==16||result==19,'num_code_green':result==2||result==5||result==8||result==11||result==14||result==17||result==20,'num_code_red':result==3||result==6||result==9||result==12||result==15||result==18}">{{result}}</span>
        </div>
      </div>
      <div class="link link-help left">
        <a href="javascript:void(0);" target="_blank">[官方查询]</a>
        <br />
        <a href="javascript:void(0);" target="_blank" id="link-result">[开奖规则]</a>
      </div>
      <div class="times left">
        <div>
          当前期为第 <b id="cur-issue">{{currentNumber}}</b>
          期
        </div>
        <div id="lefttime">
            
            <count-down ng-show="false" tick="fun.closeTimeTickCb" class="red" time="data.closeTimeLeft" type="colon"></count-down>
            <count-down ng-show="false" tick="fun.openTimeTickCb" class="red" time="data.openTimeLeft" type="colon"></count-down>
          {{data.closeTimeLeftLeft
          <=0?'当前已经停止投注!':'距下单截止时间还有' +data.closeTimeLeftLeft +'秒'}}</div>
            <div id="opentime">
              {{data.openTimeLeftLeft
              <=1?'当前期正在开奖...':'距开奖时间还有' +data.openTimeLeftLeft +'秒'}}</div></div>
      </div>
    </div>
    <div class="game-list-table">
      <div class="list-bg"></div>
      <div class="list-wrap pure-g" >
        <div class="ui-head-son">
          <div class="pure-g">
            <div class="pure-u-4-24" style="width:16%">
              <div class="ui-item-son">期号</div>
            </div>
            <div class="pure-u-4-24" style="width:20%">
              <div class="ui-item-son">开奖时间</div>
            </div>
            <div class="pure-u-4-24" style="width:16%">
              <div class="ui-item-son">开奖结果</div>
            </div>
            <div class="pure-u-4-24" style="width:16%">
              <div class="ui-item-son">已下单数</div>
            </div>
            <div class="pure-u-4-24" style="width:16%">
              <div class="ui-item-son">中奖人数</div>
            </div>
            <div class="pure-u-4-24" style="width:16%">
              <div class="ui-item-son">状态</div>
            </div>
          </div>
        </div>
        <div class="ui-body-son" ng-repeat="(key, value) in gameResults">
          <div class="pure-g">
            <div class="pure-u-4-24" style="width:16%">
              <div class="ui-item-son">{{value.formatQs}}</div>
            </div>
            <div class="pure-u-4-24" style="width:20%">
              <div class="ui-item-son">{{value.gtKjsj}}</div>
            </div>
            <div class="pure-u-4-24" style="width:16%">
              <div class="ui-item-son">{{value.kjjg}}</div>
            </div>
            <div class="pure-u-4-24" style="width:16%">
              <div class="ui-item-son">{{value.xd}}</div>
            </div>
            <div class="pure-u-4-24" style="width:16%">
              <div class="ui-item-son">{{value.zjrs?value.zjrs:'---'}}</div>
            </div>
            <div class="pure-u-4-24" style="width:16%">
              <div class="ui-item-son" ng-if="value.status=='投注火爆'">
                <a ui-sref="klsf.name.play({name: lotEnName, qs: value.Qs})">投注<i class="icon icon-bg icon-hot"></i></a>
              </div>
              <div class="ui-item-son" ng-if="value.status=='已经开奖'">
                {{value.status}}
              </div>
            </div>
          </div>
        </div>
        <div class="pager">
          <p class="pager-info">共{{totalCount}}条记录 &nbsp;&nbsp;当前1/{{totalPages}}页</p>
          <a ng-click="firstPage()">首页</a>
          <a ng-click="prevPage()">上一页</a>
          <a ng-class="{current:currentPage==pageIndex+$index}" ng-repeat="item in range(pageIndex,totalPages+1)|limitTo:numberLimit track by $index" ng-click="secPage(pageIndex+$index)">{{item}}</a>
          <a ng-click="nextPage()">下一页</a>
          <a ng-click="lastPage()">尾页</a>
        </div>
      </div>
    </div>
  </div>