 <div id="page_rightcontent">
   <h2 class="align-c" style="margin:1.8rem">什么是幸运28？</h2>
   <p>
     幸运28是一种简单有趣的数字竞猜游戏，总共有28个数字，从0依次到27。这个数字是由三个单独的个位数字（0-9）相加而得到的，开奖时系统产生三个数字，相加后得出的数字即为开奖结果，您若押中了这个数字，即可得到相应的奖励。
   </p>
   <p>
     因为每个数字出现的概率并不一样，如出现0的可能只有1个，就是0+0+0，出现3个可能就有10种，如0+3+0，1+1+2等等；这样越是中间的数字其组合形式越多，出现的概率也就越大，比如出现13或14的可能组合就有75个。所以，中奖数字的陪率根据组合的多少也有差异，中奖概率高的数字陪率也低；
   </p>
   <p class="marg">
     此游戏规则简单，却变化无穷。入门容易，但精通不易。下单可大可小，赔率也可大可小。几分钟一期的开奖频率，可让爱好者整日游戏，乐此不疲。
   </p>
   <h2 class="align-c">在贵平台进行游戏是否安全？</h2>
   <p class="marg">
     您好，本平台系统绝对安全。我们决不泄漏客户的个人资料给任何商业机构。此外，我们亦要求有交易往来的银行，信用卡中转代理等严格保密客户的资料。所有的存款将视为贸易户口，并不会交给其它的人士进行。
   </p>
   <h2 class="align-c">开户资料是否要填写真实姓名？</h2>
   <p class="marg">
     您好，基于安全理由，提款时财务部会按照注册姓名进行审核，银行卡户名必须与注册姓名相同方可提款，所以请您在开户时填写的姓名必须与您提款的户名相同。
   </p>
   <h2 class="align-c">忘记密码怎么办？</h2>
   <p class="marg">您好，请及时联系24小时客服或者QQ客服查询或修改 提供注册消息：比如QQ号码，手机号码，等资料确认是本人。谢谢！</p>
   <h2 class="align-c">平台有哪些游戏?</h2>
   <p class="marg">您好，AG蛋蛋平台目前为您提供“幸运28+加拿大28”全天24小时在线,全新时时彩也上线在即。</p>
   <h2 class="align-c">该如何为我的游戏账号充值?</h2>
   <p class="marg">
     您好，先登录到平台，可以先进入会员中心，在会员中心菜单中选择 “资金”-&gt;“充值”，或者登陆后在页面右上方选择“充值”，然后根据提示及个人情况完成充值操作，完成后系统将会自动对账户进行充值
   </p>
   <h2 class="align-c">如何证明游戏结果是实时的？</h2>
   <p class="marg">
     您好，全国开奖统一，第三方官方开奖，开奖全程透明，保证公平公正。我们确保所有游戏结果均为真实的实时结果，您也可以在验证页面验证我们的开奖结果。
   </p>
   <h2 class="align-c">为什么系统会将我登出？</h2>
   <p class="marg">
     您好，这是网页的保安程式之一，当您在一定的时间内没有使用有关的网页，那么有关的网页将不再活跃，并且无法浏览最新的页面，在此您必需重新登入；若您重新登入后情况仍然一样请立即联系我们。
   </p>
   <h2 class="align-c">AG蛋蛋平台实力怎样？</h2>
   <p class="marg">您可以参考关于我们的介绍.</p>
 </div>