<div id="page_rightcontent">
  <div class="reg_content margin_top_20">
    <h2 class="align-c" style="margin:1.8rem">关于AG蛋蛋</h2>
    <div id="about_hist">
      <div class="line_bg"></div>
      <div class="item">
        <span class="about_ico"></span>
        2006年  9月  AG蛋蛋网站正式上线，签约第一家客户中国同学录
      </div>
      <div class="item">
        <span class="about_ico"></span>
        2007年  1月  成功举办首届幸运28争霸赛;
      </div>
      <div class="item">
        <span class="about_ico"></span>
        2008年  1月  AG蛋蛋荣获“中国最具投资潜力媒体”
      </div>
      <div class="item">
        <span class="about_ico"></span>
        2009年  6月  第一个客户端游戏“梦幻龙族”登陆AG蛋蛋
      </div>
      <div class="item">7月  蛋蛋注册用户首次突破1千万</div>
      <div class="item">
        <span class="about_ico"></span>
        2010年  5月  AG蛋蛋购物返利频道正式上线，月交易额达到130万
      </div>
      <div class="item">
        <span class="about_ico"></span>
        2011年  1月  首次与盛大合作，正式推出夺宝传世网游试玩
      </div>
      <div class="item">
        <span class="about_ico"></span>
        2012年  4月  AG蛋蛋获页游高峰论坛“最佳创新营销奖”
      </div>
      <div class="item">5月  AG蛋蛋VIP会员服务正式开通</div>
      <div class="item">9月  “我的成就”体系全面上线，体现蛋友的影响力和号召力</div>
      <div class="item">10月  “蛋蛋夺宝”频道全面启动，送出第一台夺宝iPad</div>
      <div class="item">
        <span class="about_ico"></span>
        2013年  1月  QQ登录、微博登录功能正式启用，实现账号快捷登录
      </div>
      <div class="item">3月  AG蛋蛋官方微信账号开通-“agpc28”;苹果手机版客户端-AG蛋蛋1.0.0，正式登录苹果AppStore</div>
      <div class="item">8月  AG蛋蛋手机试玩频道正式上线，拓展手机试玩新平台，为蛋友提供了更方便的游戏途径</div>
      <div class="item">
        <span class="about_ico"></span>
        2014年  6月  AG蛋蛋荣获2014全球第三届移动互联网拳头奖“最佳游戏渠道奖”
      </div>
      <div class="item">
        <span class="about_ico"></span>
        2015年  12月  AG蛋蛋平台全新升级改版,新增最高频快彩“加拿大28”游戏
      </div>
      <div class="item">
        <span class="about_ico"></span>
        2016年  1月  平台全面登陆手机版本,苹果,安卓强势上线。
      </div>
      <div class="item">
        <span class="about_ico"></span>
        2016年  3月  AG蛋蛋平台升级旗舰版本,更专业,更便捷,更安全
      </div>
      <div class="item">
        <span class="about_ico"></span>
        2016年  4月  AG蛋蛋联合新加坡乐透 新增高频快彩 “新加坡28” 2分钟一期，开创最新最高频率数字游戏，同时开放更多火爆平台会员福利活动
      </div>
    </div>
  </div>
  <p style="text-align:center;color:#63ACEC">AG蛋蛋是业内著名的诚信网站，是一个集合游戏娱乐、竞猜、预测体验的专业团队,为各位玩家提供优秀的游戏体验。</p>
</div>