<div id="page_rightcontent">
	<div class="newslist" style="padding:0;">
		
		<h2 style="margin-top:0px;text-align:center;">{{detail.ggTitle}}</h2>
		<p style="padding-bottom:16px;font-size:12px;color:#aaa;text-align:center;text-indent:0;margin:0;line-height: 14px;">{{detail.createTime}}</p>
		<div>
			<p>{{detail.ggContent}}</p>
			<!-- <p>1.活动时间：2016-09-01 00:00:00~2016-09-30 23:59:59</p><p>2.活动对象：全体AG28平台会员</p><p>3.9月转盘活动期间,每天充值 1000 或流水 5000元以上即可参与一次抽奖,抽奖次数不累加,当天有效,每天最多参与一次 。</p><p><img src="https://o7qjo6uyq.qnssl.com/Public/2016_01/images/ban0901.png" width="100%"></p> -->
		</div>
	</div>  
</div>