<div>
  <ul class="newslist" style="padding:16px 16px 0px 16px">
    <li>
      <a href="javascript:void(0)" ng-click="goDetail()">金九银十，9月百万抽奖回馈活动——幸运大转盘！...</a>
      <span class="adddate">2016-08-29 13:38:28</span>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="goDetail()">端午佳节 百万红包任你抢！ 最豪华的红包！...</a>
      <span class="adddate">2016-05-31 21:35:20</span>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="goDetail()">五一 7天之旅，双倍回水狂欢玩！...</a>
      <span class="adddate">2016-04-30 00:25:44</span>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="goDetail()">超级星期五，存送5%</a>
      <span class="adddate">2016-04-15 16:37:45</span>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="goDetail()">【火爆任务】AG平台签到任务火爆开启啦~...</a>
      <span class="adddate">2016-04-09 12:00:00</span>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="goDetail()">【火爆活动】你负责玩，我负责送~...</a>
      <span class="adddate">2016-04-09 12:00:00</span>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="goDetail()">新玩家首充送助运礼包啦~</a>
      <span class="adddate">2016-04-09 12:00:00</span>
    </li>
  </ul>
<!--   <div class="detail_page">
  共24条记录&nbsp;&nbsp;当前1/2页
  <span class="current">1</span>
  <a href="/index/notice/page/2">2</a>
  <a href="/index/notice/page/2">下一页</a>
  <a href="/index/notice/page/2">尾页</a>
</div> -->
</div>