@charset:"uf-8";
body{ min-width:320px; background: #fff;font-size:12px; font-family:arial,Microsoft YaHei, Helvetica, sans-serif; color:#212121; tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color:rgba(0,0,0,0); -moz-tap-highlight-color:rgba(0,0,0,0)}
html,body,button,input,select,textarea,figure,h1,h2,h3,h4,h5,ul,li,dl,dt,dd,p,span,u{ margin:0; padding:0}
@media screen and (min-width:480px){html,body,button,input,select,textarea{font-size:16px}}
@media screen and (min-width:640px){html,body,button,input,select,textarea{font-size:20px}}
ol, ul, li,input{ list-style:none}
i,o,cite,em{ font-style:normal}
input{ outline:none; -webkit-tap-highlight-color:rgba(255,255,255,0); -webkit-appearance:none; font-family:"微软雅黑"}
input::-webkit-input-placeholder,input::-moz-placeholder{ color:#d0d0d0}.clearfix{ overflow:hidden; zoom:1}
img { border:0; }
.clearfix{ overflow:hidden; zoom:1}
.clear{ clear:both}
.left{ float:left}
.right{ float:right}
.blue{ color: #06ACFF}
.orange{ color:#F56969}
a{ color:#333; text-decoration:none}
a:active{ color:#f6851f; text-decoration:none}
p{ line-height:1.2rem}
.of{ text-indent:-999px; overflow:hidden}

.header-nzj{
	overflow: hidden;
	padding:.5rem .8rem;
	font-size: .8rem;
	border-bottom:1px #F3F3F3 solid;
}
.header-nzj i{
	font-size: 1rem;
	letter-spacing: .05rem;
	margin:0 .25rem; 
}
.wrap-nzj ul{
	border-bottom: 1px solid #eaeaea;
	background: #fff;	
	padding: 0 .8rem;
}
.wrap-nzj ul li:first-child{
	border-top: none;
}
.wrap-nzj ul li{
    height: 2.9rem;
    border-top: 1px solid #eaeaea;
    font-size: .94rem;
    line-height: 2.9rem;	
}
.wrap-nzj ul li em{
	letter-spacing: .05rem;
}
.top{
	height: .5rem;
	background: #f5f5f5;
}
.btn-wrap-js{
	padding: .8rem;
	margin-top: 1rem;
}
.btn-js{
	width:100%;
    margin: 0 auto;
    display: block;
    height: 2.6rem;
    line-height: 2.6rem;
    font-size: 1.05rem;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    background-color: #2798e6;
    color: #fff !important;
}
.btn-js.cur,.btn-js:active{
	background: #2080C1
}
input{
	border:none;
	outline: none;
	font-size: .94rem;
	letter-spacing: .05rem;
	line-height: 1.6rem;
	width: 70%;
	background: none;
}
.vas-wrap{
	width: 100%;
}
#canvas-holder{
	height: 16rem;
}
.vas{
	position:absolute;
	left: 50%;
	margin-left: -100px;
	margin-top: 1.4rem; 
}
.money-txt{
	display: block;
	width: 100%;
	text-align:center;
	font-size: .7rem;
	letter-spacing: .05rem;
	position: absolute;
	padding-bottom: 1rem;
}
.txt-money{
	text-align: center;
	overflow: hidden;
	font-size: .8rem;
	line-height: 2rem;
}
.money-txt cite{
	font-size: .9rem;
}
.txt-money span{
	display: inline-block;
}
.ico-or{
	display: inline-block;
	position: relative;
	top: .15rem;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: #ffb844;
}
.ico-lv{
	display: inline-block;
	position: relative;
	top: .15rem;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: #46BFBD;
}
.txt-money span cite:nth-child(3){
	font-size: 1rem;
}
