<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <!-- css start -->
    <link href="{CSS_PATH}bootstrap.css" rel="stylesheet">
    <link href="{CSS_PATH}font-awesome-3.0.css" rel="stylesheet">

    <link href="{CSS_PATH}base.css" rel="stylesheet">
    <link rel="stylesheet" href="{CSS_PATH}login.css">

    <!-- css end -->
    <!--[if lt IE 9]>
    <script src="{JS_PATH}selectivizr.js"></script>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <!-- logo -->
            <a href="index.html" class="logo">
                <img src="{IMG_PATH}bt_logo.png" alt="">
            </a>
            <span class="title-text">找回密码</span>
            <a href="##" class="back-btn">
                返回首页
            </a>

        </div>
    </div>
</header>

<section class="getpwd-body">
    <div class="container">
        <div class="row">

            
            <div class="getpwd">

                <div class="getpwd-hd g_3">
                    <ul class="clearfix getpwd-title">
                        <li>找回密码</li>
                        <li class="active">身份认证</li>
                        <li>密码重置</li>
                        <li>操作成功</li>
                    </ul>
                </div>

                <div class="getpwd-bd">
                    
                    <div class="hint">
                        
                        <p>
                            <i class="okey-icon"></i>
                            密码修改成功，请牢记您的新密码！
                        </p>
                        <input type="button" class="submit-btn" value="现在登录" onclick="window.location.assign('{APP_PATH}index.php?m=member&c=index&a=login');">

                    </div>
                
                </div>
                        


            </div>


        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <a href="index.html" class="f-logo">
                <img src="{IMG_PATH}bt_logo.png" alt="">
            </a>
            <p class="copyright">© 2016 HuoYe. All rights reserved.</p>
        </div>
    </div>
</footer>
<script>
    var APP_PATH = '{APP_PATH}';
</script>
<!-- js -->
<script src="{JS_PATH}jquery-1.11.3.min.js"></script>

<script src="{JS_PATH}sendCheckcode.js"></script>
<script src="{JS_PATH}login.js"></script>
<script defer>

    //验证码到计时
    $('#btnSendCode').sendCheckcode();
</script>

</body>