<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <!-- css start -->
    <link href="{CSS_PATH}bootstrap.css" rel="stylesheet">
    <link href="{CSS_PATH}font-awesome-3.0.css" rel="stylesheet">

    <link href="{CSS_PATH}base.css" rel="stylesheet">
    <link rel="stylesheet" href="{CSS_PATH}login.css">

    <!-- css end -->
    <!--[if lt IE 9]>
    <script src="{JS_PATH}selectivizr.js"></script>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <!-- logo -->
            <a href="index.html" class="logo">
                <img src="{IMG_PATH}bt_logo.png" alt="">
            </a>
            <span class="title-text">找回密码</span>
            <a href="##" class="back-btn">
                返回首页
            </a>

        </div>
    </div>
</header>

<section class="getpwd-body">
    <div class="container">
        <div class="row">

            
            <div class="getpwd">

                <div class="getpwd-hd">
                    <ul class="clearfix getpwd-title">
                        <li>找回密码</li>
                        <li class="active">身份认证</li>
                        <li>密码重置</li>
                        <li>操作成功</li>
                    </ul>
                </div>

                <div class="getpwd-bd">
                
                    <div class="form-group row">
                        <label for="" class="col-sm-2 label-control">
                                找回方式:
                        </label>
                        <div class="col-sm-5">
                            <div class="get-tab" id="tab">
                                <ul class="clearfix">
                                    <li>
                                        <label for="emailcheck" class="checkbox-inline">
                                            <input type="radio" value="email" id="emailcheck" name="gettab" checked>
                                            <i class="table-checkbox"></i>
                                            通过邮箱找回
                                        </label>

                                    </li>
                                    <li>
                                        <label for="phonecheck" class="checkbox-inline">
                                            <input type="radio" value="phone" id="phonecheck" name="gettab">
                                            <i class="table-checkbox"></i>
                                            通过手机找回
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>

                    <div class="tab-content">

                        <div id="email-box" class="tab-pane active">
                            <form action="{APP_PATH}index.php?m=member&c=index&a=public_forget_password" method="post" id="email_form">
                                    <div class="form-group row">
                                        <label for="email" class="col-sm-2 label-control">
                                                电子邮箱:
                                        </label>
                                        <div class="col-sm-5">
                                            <div class="input-control">
                                                <input type="email" placeholder="输入电子邮箱" name="email" id="email">
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="code" class="col-sm-2 label-control">
                                                验证码:
                                        </label>
                                        <div class="col-sm-5">
                                            <div class="input-control checking fl">
                                                <input type="text" placeholder="输入验证码" name="code" id="code">
                                            </div>
                                            {form::checkcode('code_img', '4', '14', 80, 24)}
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                            <label for="" class="col-sm-2 label-control">
                                                &nbsp;
                                            </label>

                                            <div class="col-sm-5">
                                                <input class="submit-btn" name="dosubmit" value="下一步" type="submit">
                                                
                                            </div>

                                            <div class="col-sm-5">
                                            </div>
                                    </div>
                            </form>

                        </div>
                        <div id="phone" class="tab-pane">
                            <form action="" id="phone_form">
                                    <div class="form-group row">
                                        <label for="" class="col-sm-2 label-control">
                                                手机号:
                                        </label>
                                        <div class="col-sm-5">
                                            <div class="input-control">
                                                <input type="password" placeholder="输入手机号" name="phone">
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-sm-2 label-control">
                                                验证码:
                                        </label>
                                        <div class="col-sm-5">
                                            <div class="input-control checking fl">
                                                <input type="password" placeholder="输入验证码" name="identcode">
                                            </div>
                                            <button class="ident-code" id="btnSendCode">发送验证码</button>
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                            <label for="" class="col-sm-2 label-control">
                                                &nbsp;
                                            </label>

                                            <div class="col-sm-5">
                                                <button class="submit-btn">下一步</button>
                                                
                                            </div>

                                            <div class="col-sm-5">
                                            </div>
                                    </div>
                            </form>

                        </div>

                    </div>
                    
                    
                </div>
                
                        


            </div>


        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <a href="index.html" class="f-logo">
                <img src="{IMG_PATH}bt_logo.png" alt="">
            </a>
            <p class="copyright">© 2016 HuoYe. All rights reserved.</p>
        </div>
    </div>
</footer>

<!-- js -->
<script src="{JS_PATH}jquery-1.11.3.min.js"></script>

<script src="{JS_PATH}jquery.validate.min.js"></script>
<script src="{JS_PATH}validate_messages_zh.js"></script>
<script src="{JS_PATH}bf_validate.js"></script>

<script src="{JS_PATH}sendCheckcode.js"></script>
<script src="{JS_PATH}login.js"></script>
<script defer>

    //验证码到计时
    $('#btnSendCode').sendCheckcode();

    // 邮箱找回表单验证
    $('#email_form').validate({

        degbug: true,

        onkeyup:false,

        rules: {
            email:'required',

            identcode:'required',

        },

        messages: {
            email:{
                required:'请输入邮箱'
            },
            identcode:{
                required:'请输入验证码'
            }
        },

        errorClass:'invalid'
    });

    // 手机找回表单验证
    $('#phone_form').validate({

        degbug: true,

        onkeyup:false,

        rules: {

            identcode:'required',

            phone:{
                required:true,
                phone:true
            },


        },

        messages: {
            phone:{
                required:'请输入手机号'
            },
            identcode:{
                required:'请输入验证码'
            }
        },

        errorClass:'invalid'
    });
</script>

</body>