<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <!-- css start -->
    <link href="{CSS_PATH}bootstrap.css" rel="stylesheet">
    <link href="{CSS_PATH}font-awesome-3.0.css" rel="stylesheet">

    <link href="{CSS_PATH}base.css" rel="stylesheet">
    <link rel="stylesheet" href="{CSS_PATH}login.css">

    <!-- css end -->
    <!--[if lt IE 9]>
    <script src="{JS_PATH}selectivizr.js"></script>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <!-- logo -->
            <a href="index.html" class="logo">
                <img src="{IMG_PATH}bt_logo.png" alt="">
            </a>
            <span class="title-text">找回密码</span>
            <a href="##" class="back-btn">
                返回首页
            </a>

        </div>
    </div>
</header>

<section class="getpwd-body">
    <div class="container">
        <div class="row">

            
            <div class="getpwd">

                <div class="getpwd-hd g_2">
                    <ul class="clearfix getpwd-title">
                        <li>找回密码</li>
                        <li class="active">身份认证</li>
                        <li>密码重置</li>
                        <li>操作成功</li>
                    </ul>
                </div>

                <div class="getpwd-bd">

                    <form action="{APP_PATH}index.php?m=member&c=index&a=public_change_password" method="post" id="save_form">
                        <input type="hidden" name="user_id" value="{$user_id}" id="user_id">
                        <div class="form-group row">
                            <label for="password" class="col-sm-2 label-control">
                                    设置新密码:
                            </label>
                            <div class="col-sm-5">
                                <div class="input-control">
                                    <input type="password" placeholder="输入新密码" name="password" id="password">
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="confirm_password" class="col-sm-2 label-control">
                                    确定新密码:
                            </label>
                            <div class="col-sm-5">
                                <div class="input-control">
                                    <input type="password" placeholder="请重新输入密码" name="confirm_password" id="confirm_password">
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group row">
                                <label for="" class="col-sm-2 label-control">
                                    &nbsp;
                                </label>

                                <div class="col-sm-5">
                                    <input class="submit-btn" type="submit" value="确定" name="dosubmit">
                                    
                                </div>

                                <div class="col-sm-5">
                                </div>
                        </div>
                    </form>   
                    
                </div>
                        


            </div>


        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <a href="index.html" class="f-logo">
                <img src="{IMG_PATH}bt_logo.png" alt="">
            </a>
            <p class="copyright">© 2016 HuoYe. All rights reserved.</p>
        </div>
    </div>
</footer>
<script>
    var APP_PATH = '{APP_PATH}';
</script>
<!-- js -->
<script src="{JS_PATH}jquery-1.11.3.min.js"></script>

<script src="{JS_PATH}jquery.validate.min.js"></script>
<script src="{JS_PATH}validate_messages_zh.js"></script>
<script src="{JS_PATH}bf_validate.js"></script>

<script src="{JS_PATH}sendCheckcode.js"></script>
<script src="{JS_PATH}login.js"></script>
<script defer>

    //验证码到计时
    $('#btnSendCode').sendCheckcode();

        // 手机找回表单验证
    $('#save_form').validate({

        degbug: true,

        onkeyup:false,

        rules: rules,

        messages: messages,

        errorClass:'invalid'
    });

</script>

</body>