/*2008-01-29-For SI2 ======= Add Special Early ======*/
html, body { margin:0; padding: 0; }
body { padding: 10px 0 0 10px;}
#LoadLayer { position:absolute; width:100%; height:400px; z-index:1; text-align:center; padding-top:40px; background-color:#F3F3F3; border: 1px solid #000; /*visibility:visible;*/ visibility:hidden;}
#box { width:735px;position: relative; margin-bottom:12px;}
/*ad*/
#ad {/*position: relative;*/ width:100%;  padding: 0 0 8px 37px; height:25px; background:url(/images/member/mem_ad.gif) no-repeat 0 0;font:normal 0.75em Arial, Helvetica, sans-serif;}
#real_msg, .real_msg { height:25px; padding-top:6px; margin-left:50px; margin-right:50px;}
#ad p { width:90px;height:25px; display:block; top:0; right:0; position:absolute; margin:0; background:url(/images/member/mem_ad.gif) no-repeat right top; text-align:right; padding:8px 18px 4px 4px;}
/*title*/
.top { position: relative; background: #D3D2B4 url(/images/member/mem_h1_ft.gif) no-repeat 100% 0; color:#000; clear:both;}
.top h1 { margin:0 15px 1px 0; padding: 6px 2px 2px 15px; font:0.75em/1.2; font-weight:normal; white-space: nowrap;background:url(/images/member/mem_h1_ft.gif) no-repeat 0 0;}
.top em { width:56px; white-space: nowrap;font-style: normal; margin-top:4px; margin-bottom:2px;}
.top input { margin-top:-2px;}
.top .new { margin-right:6px; margin-left:6px;}
.top .rig { position: absolute; top:6px; right:13px; width:auto; white-space:nowrap;font:1em/1.2 Arial, Helvetica, sans-serif; text-align:right;}
.top strong { margin: 0 0 0 8px; font-weight: normal;}
/*.rig strong { position-top:10px;}*/
.rig .txt { margin-left:5px; margin-right:5px;}
input, select { vertical-align: middle; height: 18px;font:1em Arial, Helvetica, sans-serif;}
.rig .button {}
.top a { margin-left: 6px; margin-right:4px;}
.top a:hover { color:#FFF!important;}
.top a:link, .top a:visited { color:#FF0;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~mem~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.mem { border: 0px solid #cccccc; border-top-width: 0; border-bottom:1px solid #ffff; padding:1px; background-color:#ABABAB; clear:both;width:100%;}
h2 { white-space:nowrap; margin:0; padding: 2px 8px 2px; height:20px; font:normal 0.75em Arial, Helvetica, sans-serif; background-color:#D3D2B4; border-bottom:0px solid #ffffff;border-top:1px solid #ffffff;}
h2 a, .a { margin-top:2px; float:right;}
#pg_txt a {float: none;}
/*h2 a:hover,*/ #ad a:hover { color:#FF0!important;}
/*h2 a:link, h2 a:visited,*/ #ad a:link, #ad a:visited { color:#000; font-weight: normal;}
h2 span { float:left; margin-top:2px;}
/*table*/
.mem .game { width:100%; background-color:#ffff; clear: both; font-size:12px;}
.game th, .more th { color:#FFF; background-color:#666666; padding:3px 2px 0; white-space:nowrap; font-weight: normal;}
.game td, .more td { padding:1px 2px; white-space:nowrap; font-size:12px;}
/*td*/
.mem .time { width:7%;}
.mem .team { width:58%;}
.mem .num { width:7%;}
/*Handicap + Over Under*/
.game td.pr, td.ou { width:22%;/*padding:2px 2px;*/ text-align:right;}
form { margin:0; padding:0;}
#PRbox {width:580px;position: relative;margin-bottom:12px;}
#pr .time { width15%; /*text-align:left;*/}
#pr .team { width:40%; /*text-align:left;*/}
#pr .num { width:7%; /*text-align:left;*/}
#pr .pr  {width:15%; /*text-align:left;*/}
#pr .ou {width:23%; /*text-align:left;*/}

.game th.1st,.game th.1st2 ,#p3 .hpm{ background-color:#0D607F; color:#FFF;}
/*------P3------*/
#P3box { width:950px;position: relative; margin-bottom:12px;}
#p3 .team { width:18%; }
#p3 .num, #p3 .time  { width:5%; }
#p3 .eo { width:9%; }
#p3 .pr, { width:11%; }
#p3 .ou, { width:12%; }
#p3 .pm,#p3 .hpm, #p3 .hpm2{ width:7%; }
#p3 .1st { width:11%; }
#p3 .1st2 { width:14%; }
#p3 .b_1st {text-align: center; width:14%;}
#p3 .b_1st_S {text-align: right; ; width:11%;}
#p3 .b_1st_R {text-align: right; width:14%;}
#p3 .hpm2,#p3 .b_1st,#p3 .b_1st_R,#p3 .b_1st_S{background-color: #ffffff}

#MFU .game th.1st,#MFU .game th.1st2, body#MFT #game_list_3 .game th.1st,#MFU .game th.hpm { background-color:#666666;}
#MOP .game th.1st, #MOP .game th.1st2 ,#MOP .game th.hpm {background-color: #666666;}
#MOM .game th.1st, #MOM .game th.1st2 , #MOM .game th.hpm{background-color:#666666;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~foot~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#foot { width:100%; height:11px; vertical-align: bottom;}
#foot b { display:block;width:30px; height:11px; line-height:11px;}
a { text-decoration: none; font-weight:bold}
a:link, a:visited {	color:#DB0000;}
a:hover { color:#ff6600;}
/*more game*/
.more { position: relative; width:540px;padding: 2px 12px; background-color: #FFC;	border: 4px groove #CFA61E;}
.more .game {background-color:#B9B9A3; font-size:12px; margin-bottom:7px;}
.more .game2 { float:left; background-color:#B9B9A3; font-size:12px; margin-bottom:7px;}caption { text-align:left; font-size: 12px;}
caption b { display:block; margin: 0 0 -2px -1px; padding: 4px 6px 1px; white-space:nowrap; font-weight: normal; text-align:center; width:15%; color: #FFF;  background-color: #7B0000;}
input.close { float:right; margin-bottom:-5px; font:0.75em Arial, Helvetica, sans-serif;}
#copyright { width:530px;font-size:0.72em; color:#555; text-align:center;}
/*more game--future */
body#MFU .more {background-color: #E3FFBF;	border-color: #690;}
body#MFU caption b {background-color: #267655;	}
.no { color:#C00; height: 20px;}
.yes { height: 20px;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~old style~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.b_hline {
	text-align:center;background:url(/bga.gif);padding-top:3px;
}/**/
.b_cen { background-color: #FFF; text-align:center;}/*table style*/
.b_foot {font-size:11px; text-align:center;}
.mem tr, .more tr {font-family:"Arial";}
.b_rig {background-color:#FFF; text-align:right;}
.b_lef {background-color:#FFF; text-align:left;}
/*league*/
.league {	background-color: #F9F1DC;	padding: 3px;}
.league_all {	background-color: #F8E8BE;	padding: 3px; color: #F00;}
body#MFU .league {	background-color: #E4EFF9;	}
body#MFU .league_all {	background-color: #C2D1EB;}
/*R.B lst tr-color*/
.b_1st {background-color: #f3f3f3;text-align: center;}
.b_1st_R {background-color: #f3f3f3; text-align: right;}

/*1x2 pr td-color*/
.b_pradio {  color: #C00; background-color: #f3f3f3; font-weight: bold;}/*D*/
.b_radio { color: #060; background-color: #f3f3f3 ; font-weight: bold;}/*pr*/
.za_dot {height:12px; width:12px; margin-bottom:2px;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Game chuang ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*top*/
body#MFU .top, body#MFU h1, #MALL .top, #MALL h1, body#MFT #game_list_2 .top, body#MFT #game_list_2 h1 { background-image: url(/images/member/mem_h1_fu.gif);}
body#MBK .top, body#MBK h1 { background-image: url(/images/member/mem_h1_bk.gif);}
body#MBU .top, body#MBU h1, body#MBK #game_list_2 .top, body#MBK #game_list_2 h1 { background-image: url(/images/member/mem_h1_bu.gif);}
body#MTN .top, body#MTN h1 { background-image: url(/images/member/mem_h1_tn.gif);}
body#MTU .top, body#MTU h1, body#MTN #game_list_2 .top, body#MTN #game_list_2 h1 { background-image: url(/images/member/mem_h1_tu.gif);}
body#MVB .top, body#MVB h1 { background-image: url(/images/member/mem_h1_vb.gif);}
body#MVU .top, body#MVU h1, body#MVB #game_list_2 .top, body#MVB #game_list_2 h1 { background-image: url(/images/member/mem_h1_vu.gif);}
body#MFS .top, body#MFS h1 { background-image: url(/images/member/mem_h1_fs.gif);}
body#MNFS .top, body#MNFS h1 { background-image: url(/images/member/mem_h1_nfs.gif);}
body#MBS .top, body#MBS h1 { background-image: url(/images/member/mem_h1_bs.gif);}
body#MOP .top, body#MOP h1 { background-image: url(/images/member/mem_h1_op.gif);}
body#MOM .top, body#MOM h1 { background-image: url(/images/member/mem_h1_om.gif);}
body#MBE .top, body#MBE h1, body#MBS #game_list_2 .top, body#MBS #game_list_2 h1 { background-image: url(/images/member/mem_h1_be.gif);}
/*mem*/
body#MFU .mem, #MFU .mem, #MALL .mem, body#MFT #game_list_3 .mem { background-color:#ABABAB; border-color:#ABABAB;border-bottom-color:#ABABAB;}
body#MBK .mem, #MBK .mem { background-color:#ABABAB; border-color:#ABABAB;border-bottom-color:#ABABAB;}
body#MBU .mem, #MBU .mem, body#MBK #game_list_3 .mem { background-color:#ABABAB; border-color:#ABABAB;border-bottom-color:#ABABAB;}
body#MTN .mem, #MTN .mem { background-color:#ABABAB; border-color:#DE5A31;border-bottom-color:#ABABAB;}
body#MTU .mem, #MTU .mem, body#MTN #game_list_3 .mem { background-color:#ABABAB; border-color:#ABABAB;border-bottom-color:#ABABAB;}
body#MVB .mem, #MVB .mem { background-color:#ABABAB; border-color:#ABABAB;border-bottom-color:#ABABAB;}
body#MVU .mem, #MVU .mem, body#MVB #game_list_3 .mem { background-color:#ABABAB; border-color:#ABABAB;border-bottom-color:#ABABAB;}
body#MFS .mem, #MFS .mem { background-color:#ABABAB; border-color:#ABABAB;border-bottom-color:#ABABAB;}
body#MNFS .mem, #MNFS .mem{background-color:#ABABAB; border-color:#ABABAB;border-bottom-color:#ABABAB;}
body#MBS .mem, #MBS .mem {background-color:#ABABAB; border-color:#ABABAB;border-bottom-color:#ABABAB;}
body#MOP .mem, #MOP .mem {background-color:#ABABAB;border-color:#ABABAB;border-bottom-color:#ABABAB;}
body#MOM .mem, #MOM .mem {background-color:#ABABAB;border-color:#ABABAB;border-bottom-color:#ABABAB;}
body#MBE .mem, #MBE .mem, body#MBS #game_list_3 .mem {background-color:#ABABAB;border-color: #ABABAB;border-bottom-color:#ABABAB;}
/*h2 + game*/
body#MFU h2, body#MFU .mem .game, #MALL .mem .game, body#MFT #game_list_3 .mem .game {background-color:#D3D2B4; border-color:#CDDEE3;}
body#MBK h2, body#MBK .mem .game {background-color:#D3D2B4; border-color:#ffffff;}
body#MBU h2, body#MBU .mem .game, body#MBK #game_list_3 .mem .game {background-color:#D3D2B4; border-color:#ffffff;}
body#MTN h2, body#MTN .mem .game {background-color:#D3D2B4; border-color:#ffffff;}
body#MTU h2, body#MTU .mem .game, body#MTN #game_list_3 .mem .game {background-color:#D3D2B4; border-color:#ffffff;}
body#MVB h2, body#MVB .mem .game {background-color:#D3D2B4; border-color:#ffffff;}
body#MVU h2, body#MVU .mem .game, body#MVB #game_list_3 .mem .game {background-color:#D3D2B4; border-color:#ffffff;}
body#MFS h2, body#MFS .mem .game {background-color:#D3D2B4; border-color:#ffffff;}
body#MNFS h2, body#MNFS .mem .game {background-color:#D3D2B4;border-color: #ffffff;}
body#MBS h2, body#MBS .mem .game {background-color:#D3D2B4; border-color:#ffffff;}
body#MBE h2, body#MBE .mem .game, body#MBS #game_list_3 .mem .game {background-color:#D3D2B4; border-color:#ffffff;}
body#MOP h2, body#MOP .mem .game {background-color: #D3D2B4;border-color:#ffffff;}
body#MOM h2, body#MOM .mem .game {background-color:#D3D2B4;border-color: #ffffff;}
/*th*/
body#MFU .game th, body#MFU .more th, #MALL .game th, body#MFT #game_list_3 .game th { background-color:#666666;}
body#MBK .game th, body#MBK .more th { background-color:#666666; color:#FFF;}
body#MBU .game th, body#MBU .more th, body#MBK #game_list_3 .game th { background-color:#666666; color:#FFF;}
body#MTN .game th, body#MTN .more th { background-color:#666666;}
body#MTU .game th, body#MTU .more th, body#MTN #game_list_3 .game th { background-color:#666666;}
body#MVB .game th, body#MVB .more th { background-color:#666666;}
body#MVU .game th, body#MVU .more th, body#MVB #game_list_3 .game th { background-color:#666666;}
body#MFS .game th, body#MFS .more th { background-color:#666666;}
body#MNFS .game th, body#MNFS .more th { background-color:#666666;}
body#MBS .game th, body#MBS .more th { background-color: #666666;}
body#MBE .game th, body#MBE .more th, body#MBS #game_list_3 .game th { background-color:#666666;}
body#MOP .game th, body#MOP .more th {background-color: #666666;}
body#MOM .game th, body#MOM .more th {background-color: #666666;}
/*foot*/
body#MFU #foot, body#MFU #foot b, #MALL #foot, #MALL #foot b, body#MFT #fem #foot, body#MFT #fem #foot b { background-image: url(/images/member/mem_foot_fu.gif);}
body#MBK #foot, body#MBK #foot b { background-image: url(/images/member/mem_foot_bk.gif);}
body#MBU #foot, body#MBU #foot b, body#MBK #fem #foot, body#MBK #fem #foot b { background-image: url(/images/member/mem_foot_bu.gif);}
body#MTN #foot, body#MTN #foot b { background-image: url(/images/member/mem_foot_tn.gif);}
body#MTU #foot, body#MTU #foot b, body#MTN #fem #foot, body#MTN #fem #foot b { background-image: url(/images/member/mem_foot_tu.gif);}
body#MVB #foot, body#MVB #foot b { }
body#MVU #foot, body#MVU #foot b, body#MVB #fem #foot, body#MVB #fem #foot b { background-image: url(/images/member/mem_foot_vu.gif);}
body#MFS #foot, body#MFS #foot b { }
body#MBS #foot, body#MBS #foot b { background-image: url(/images/member/mem_foot_bs.gif);}
body#MOP #foot, body#MOP #foot b { background-image: url(/images/member/mem_foot_op.gif);}
body#MOM #foot, body#MOM #foot b { background-image: url(/images/member/mem_foot_om.gif);}
body#MNFS #foot, body#MNFS #foot b { background-image: url(/images/member/mem_foot_nfs.gif);}
body#MBE #foot, body#MBE #foot b, body#MBS #fem #foot, body#MBS #fem #foot b { background-image: url(/images/member/mem_foot_be.gif);}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ For Mac/Safari Fix ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html > body .top h1 { font-size:12px;}
html > body #foot b { line-height:0;}
/*Red card */
b.card{position:relative; margin-top:-12px;}
.R_card {color: #FF0000;font-size: 7px;font-style: oblique;}
/*Red card Revision*/
.top h1 { font-size:0.75em;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Special Early Hight ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#game_list_4 td { height:8px;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ NEW FS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.b_hline_nfs {text-align:center;background:url(/bga.gif);padding-top:3px;}/**/
.b_leg {background-color:#FFFFFF;text-align:left;padding-top: 2px;padding-bottom: 1px;padding-left: 6px;padding-right: 6px;}
.r_bold {font-size: 12px;font-weight: bold;color: #CC0000;padding-right: 4px;}
.b_tab {background-color: #A0D8FF;}
body#MNFS h2 .rig {	display: block;float: right;}
body#MNFS h2 .left {float: left;display: inline;white-space: nowrap;clear: both;padding-top: 3px;}
h3 .rig {	display: block;float: right;}
h3 {
	white-space:nowrap;
	margin:0;
	font:normal 0.75em Arial, Helvetica, sans-serif;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 8px;
}
/*mem2*/
.mem2 {background-color:#CCC;}
/*§ó·s¶s*/
.b_h_txt {text-align:center;width: 95%;height: 21px;}
.b_h_but {text-align:right;width: 5%;}
