BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; LIST-STYLE-TYPE: none;BACKGROUND: #FCFAF8
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; LIST-STYLE-TYPE: none
}
SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; LIST-STYLE-TYPE: none
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; LIST-STYLE-TYPE: none
}
B {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; LIST-STYLE-TYPE: none
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; LIST-STYLE-TYPE: none
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; LIST-STYLE-TYPE: none
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; LIST-STYLE-TYPE: none
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; LIST-STYLE-TYPE: none
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; LIST-STYLE-TYPE: none
}
TR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; LIST-STYLE-TYPE: none
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; LIST-STYLE-TYPE: none
}
BODY {
	MARGIN: 0px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse
}
TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse
}
TD {
	CURSOR: default
}
A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #ffffa2; TEXT-DECORATION: none
}
.backdrop_1 {
background:url(t_backdrop1.jpg) repeat-x;
}
.backdrop_2 {
	BACKGROUND-IMAGE: url(t_backdrop_2.jpg); BACKGROUND-REPEAT: repeat-x
}
.NewS_Fone {
	COLOR: #ffffa2
}
.Type_1 {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.Type_2 {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.LeftBackdrop {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-INDENT: -30px; BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: center
}
.top {
	BACKGROUND-IMAGE: url(m_top.jpg); BACKGROUND-REPEAT: repeat-x
}
.Menu_WB {
	BORDER-RIGHT: #ff9224 0px solid; BACKGROUND-POSITION: 0px 0px; BORDER-TOP: #ff9224 0px solid; BACKGROUND-IMAGE: url(menu_WB.jpg); BORDER-LEFT: #ff9224 0px solid; WIDTH: 99px; BORDER-BOTTOM: #ff9224 0px solid; HEIGHT: 25px; BACKGROUND-COLOR: #ffffff
}
.but_3 {
	BORDER-RIGHT: #ff9224 0px solid; BORDER-TOP: #ff9224 0px solid; BACKGROUND-IMAGE: url(But_S.jpg); BORDER-LEFT: #ff9224 0px solid; BORDER-BOTTOM: #ff9224 0px solid; HEIGHT: 35px; BACKGROUND-COLOR: #b3c5ef
}
.but_3_m {
	BORDER-RIGHT: #ff9224 0px solid; BORDER-TOP: #ff9224 0px solid; BACKGROUND-IMAGE: url(But_S.jpg); BORDER-LEFT: #ff9224 0px solid; BORDER-BOTTOM: #ff9224 0px solid; HEIGHT: 35px; BACKGROUND-COLOR: #b3c5ef
}
.but_4 {
	BORDER-RIGHT: #ff9224 0px solid; BORDER-TOP: #ff9224 0px solid; BACKGROUND-IMAGE: url(But_S.jpg); BORDER-LEFT: #ff9224 0px solid; BORDER-BOTTOM: #ff9224 0px solid; HEIGHT: 35px; BACKGROUND-COLOR: #b3c5ef
}
.but_4_m {
	BORDER-RIGHT: #ff9224 0px solid; BORDER-TOP: #ff9224 0px solid; BACKGROUND-IMAGE: url(But_S.jpg); BORDER-LEFT: #ff9224 0px solid; BORDER-BOTTOM: #ff9224 0px solid; HEIGHT: 35px; BACKGROUND-COLOR: #b3c5ef
}
.but_5 {
	BORDER-RIGHT: #ff9224 0px solid; BORDER-TOP: #ff9224 0px solid; BACKGROUND-IMAGE: url(But_S.jpg); BORDER-LEFT: #ff9224 0px solid; BORDER-BOTTOM: #ff9224 0px solid; HEIGHT: 35px; BACKGROUND-COLOR: #b3c5ef
}
.but_5_m {
	BORDER-RIGHT: #ff9224 0px solid; BORDER-TOP: #ff9224 0px solid; BACKGROUND-IMAGE: url(But_S.jpg); BORDER-LEFT: #ff9224 0px solid; BORDER-BOTTOM: #ff9224 0px solid; HEIGHT: 35px; BACKGROUND-COLOR: #b3c5ef
}
.but_6 {
	BORDER-RIGHT: #ff9224 0px solid; BORDER-TOP: #ff9224 0px solid; BACKGROUND-IMAGE: url(But_S.jpg); BORDER-LEFT: #ff9224 0px solid; BORDER-BOTTOM: #ff9224 0px solid; HEIGHT: 35px; BACKGROUND-COLOR: #b3c5ef
}
.but_6_m {
	BORDER-RIGHT: #ff9224 0px solid; BORDER-TOP: #ff9224 0px solid; BACKGROUND-IMAGE: url(But_S.jpg); BORDER-LEFT: #ff9224 0px solid; BORDER-BOTTOM: #ff9224 0px solid; HEIGHT: 35px; BACKGROUND-COLOR: #b3c5ef
}
.but_7 {
	BORDER-RIGHT: #ff9224 0px solid; BORDER-TOP: #ff9224 0px solid; BACKGROUND-IMAGE: url(But_S.jpg); BORDER-LEFT: #ff9224 0px solid; BORDER-BOTTOM: #ff9224 0px solid; HEIGHT: 35px; BACKGROUND-COLOR: #b3c5ef
}
.but_7_m {
	BORDER-RIGHT: #ff9224 0px solid; BORDER-TOP: #ff9224 0px solid; BACKGROUND-IMAGE: url(But_S.jpg); BORDER-LEFT: #ff9224 0px solid; BORDER-BOTTOM: #ff9224 0px solid; HEIGHT: 35px; BACKGROUND-COLOR: #b3c5ef
}
.but_8 {
	BORDER-RIGHT: #ff9224 0px solid; BORDER-TOP: #ff9224 0px solid; BACKGROUND-IMAGE: url(But_S.jpg); BORDER-LEFT: #ff9224 0px solid; BORDER-BOTTOM: #ff9224 0px solid; HEIGHT: 35px; BACKGROUND-COLOR: #b3c5ef
}
.but_8_m {
	BORDER-RIGHT: #ff9224 0px solid; BORDER-TOP: #ff9224 0px solid; BACKGROUND-IMAGE: url(But_S.jpg); BORDER-LEFT: #ff9224 0px solid; BORDER-BOTTOM: #ff9224 0px solid; HEIGHT: 35px; BACKGROUND-COLOR: #b3c5ef
}
.but_3 {
	BACKGROUND-POSITION: 0px 0px; WIDTH: 110px
}
.but_3_m {
	BACKGROUND-POSITION: -658px 0px; WIDTH: 110px; CURSOR: hand
}
.but_4 {
	BACKGROUND-POSITION: -110px 0px; WIDTH: 110px
}
.but_4_m {
	BACKGROUND-POSITION: -768px 0px; WIDTH: 110px; CURSOR: hand
}
.but_5 {
	BACKGROUND-POSITION: -220px 0px; WIDTH: 110px
}
.but_5_m {
	BACKGROUND-POSITION: -878px 0px; WIDTH: 110px; CURSOR: hand
}
.but_6 {
	BACKGROUND-POSITION: -330px 0px; WIDTH: 110px
}
.but_6_m {
	BACKGROUND-POSITION: -988px 0px; WIDTH: 110px; CURSOR: hand
}
.but_7 {
	BACKGROUND-POSITION: -440px 0px; WIDTH: 110px
}
.but_7_m {
	BACKGROUND-POSITION: -1098px 0px; WIDTH: 110px; CURSOR: hand
}
.but_8 {
	BACKGROUND-POSITION: -550px 0px; WIDTH: 103px
}
.but_8_m {
	BACKGROUND-POSITION: -1208px 0px; WIDTH: 103px; CURSOR: hand
}
.Font_R {
	COLOR: #e80c0e
}
