/**
color
*/
body, html {
  background-color: #f7f7f7;
}

nav {
  height: 55px;
  background-color: #e8e8e8;
  font-family: "SimSun";
  margin-bottom: 0;
}

.dropdown-menu li {
  line-height: 25px;
  padding: 0 5px;
}
.dropdown-menu li:hover {
  background-color: #f2f2f3;
}

.matchNav li {
  float: left;
  margin-right: 15px;
}
.matchNav li a {
  display: block;
  padding: 0 9px;
  font-size: 1.4em;
  line-height: 31px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top:11px;
}
.matchNav li a.active {
  background-color: #ffa21d;
  color: #ffffff;
}

.navMenu {
  margin-bottom: 20px;
}

.treeMenu {
  position: relative;
  font-family: "Microsoft YaHei";
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom: none;
}
.treeMenu .tree-one-title {
  cursor: pointer;
  font-size: 1.4em;
  padding: 8px 10px;
  color: #ffffff;
  background-color: #ff821d;
  border-bottom: #ffffff solid 1px;
}
.treeMenu .tree-one-title.on {
  background-color: #e37a14;
  color: #ffff00;
}
.treeMenu .tree-two-title {
  cursor: pointer;
  font-size: 1.4em;
  padding: 8px 10px;
  color: #666666;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
}
.treeMenu .tree-three-title {
  cursor: pointer;
  font-size: 1.4em;
  padding: 8px 10px 8px 15px;
  color: #666666;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
}
.treeMenu .tree li {
  color: #969696;
  font-size: 1.4em;
  padding: 8px 10px 8px 40px;
  background-image: url("../images/icon/tree-icon.png");
  background-repeat: no-repeat;
  background-position: 10px;
  cursor: pointer;
}
.treeMenu .tree li.active {
  color: #ff821d;
}
.treeMenu [tree-menu] {
  display: none;
}

.side-search {
  font-size: 1.4em;
  color: #5b5b5b;
  margin-bottom: 20px;
}
.side-search .search-title {
  padding-bottom: 10px;
  text-align: center;
}
.side-search .search-control {
  position: relative;
  padding-right: 38px;
  border: 1px solid #dddddd;
}
.side-search .search-control .input-search {
  line-height: 30px;
  height: 30px;
  width: 100%;
  padding-left: 5px;
  border: none;
}
.side-search .search-control .btn-search {
  position: absolute;
  width: 38px;
  height: 100%;
  top: 0;
  right: 0;
  border: none;
  background-color: #ff821d;
  color: #ffffff;
}
.side-search .radio-group {
  padding: 10px 5px;
}

.checkbox-inline {
  position: relative;
  padding-left: 0;
}
.checkbox-inline .table-checkbox {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../images/icon/check-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}
.checkbox-inline [type="checkbox"] {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 20px;
  opacity: 0;
  z-index: 1;
}
.checkbox-inline [type="checkbox"]:checked + .table-checkbox {
  background-image: url("../images/icon/checked-icon.png");
}

.iframe-page {
  position: relative;
}

.iframe-head {
  margin-bottom: 20px;
}
.iframe-head .m-title {
  line-height: 60px;
  font-size: 1.8em;
  color: #2e393b;
  font-weight: bold;
}
.iframe-head .m-title img {
  margin-right: 10px;
}
.iframe-head .dropdown {
  margin-left: 15px;
  top: 14px;
}
.iframe-head .dropdown .btn {
  padding: 5px 12px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
}
.iframe-head .dropdown .btn:focus {
  outline: none;
}
.iframe-head .dropdown .dropdown-menu {
  min-width: 132px;
}

.iframe-table {
  background-color: #ffffff;
  margin-bottom: 20px;
}
.iframe-table .hint {
  padding: 0 12px 12px;
  font-size: 12px;
}

.iframe-nav {
  margin-bottom: 12px;
  border: 1px solid #dddddd;
}
.iframe-nav li {
  float: left;
  border-left: #ffffff solid 1px;
}
.iframe-nav li:first-of-type {
  border-left: none;
  width: 104px;
}
.iframe-nav li a {
  display: block;
  color: #ffffff;
  padding: 0 15px;
  font-size: 1.5em;
  line-height: 38px;
  background-color: #ff821d;
  text-align: center;
}
.iframe-nav li a.active {
  background-color: #fa1604;
  color: #ffff00;
}

#iframe_page .table-page {
  text-align: right;
}
#iframe_page .table-page li {
  display: inline-block;
  line-height: 25px;
  font-size: 1.2em;
  margin: 0 5px;
  color: #969696;
}
#iframe_page .table-page li a {
  color: #969696;
}
#iframe_page .table-page li input {
  width: 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#iframe_page .table-page .btn-go {
  border: none;
  background-color: #ffa21d;
  color: #ffffff;
  padding: 0 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#iframe_page .navInfo {
  padding: 0 12px;
  margin-bottom: 12px;
}
#iframe_page .navInfo .btn-group, #iframe_page .navInfo span {
  margin-left: 5px;
}
#iframe_page .navInfo .btn {
  color: #666666;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 5px 12px;
}
#iframe_page .navInfo .dropdown-menu {
  min-width: 100px;
}
#iframe_page .table-tab li {
  float: left;
  text-align: center;
  line-height: 30px;
  font-size: 1.4em;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  background-color: #f5f5f5;
  padding: 0 10px;
}
#iframe_page .table-tab li:first-of-type {
  border-left: 1px solid #dddddd;
}
#iframe_page .table-tab li a {
  border: none;
  line-height: 30px;
  padding: 0;
}
#iframe_page .table-tab li.active a {
  background-color: #ff821d;
  color: #fff;
}
#iframe_page .table-tab{
  border-bottom: 1px solid #ff821d;
  margin-bottom: 10px;
}
#iframe_page .table-tab .active{
  background-color: #ff821d;
  color: #ffffff;
}
#iframe_page .table-item {
  padding: 0 12px;
  color: #5b5b5b;
}
.iframe-table .table{
  border: 1px solid #dddddd;
}
.iframe-table .table td{
  border-top: none;
  text-align: center;
  font-size: 12px;
  vertical-align:middle;
}
.iframe-table .table tr{
  border-bottom: 1px solid #dddddd;
  height: 33px;
}
.iframe-table .table tr:nth-child(odd){
  background-color: #f2f2f3;
}
.iframe-table .table tr:last-child{
  border-bottom: none;
}
.iframe-table .table tr.colorW{
  background-color: #ffffff;
}
.iframe-table .table .colorG{
  background-color: #f2f2f3;
}
.iframe-table .table .bold{
  font-weight: bold;
}
.border-r{
  border-right: 1px solid #dddddd;
}
.evaluate{
  border: 1px solid #dddddd;
  margin-bottom: 10px;
  font-size: 12px;
}
.evaluate .title{
  background-color: #e8e8e8;
  font-size: 14px;
  color: #515151;
  height: 34px;
  line-height: 34px;
  border-bottom: 1px solid #dddddd;
  text-align: center;
}
.iframe-table .table .align-left{
  text-align: left;
  padding-left: 10px;
}
.iframe-table .table tr td.border-lr{
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.iframe-table .table tr td.border-n{
  border-right: none;
  border-left: none;
}
.pd10{
  padding: 10px;
}
.data{
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin: 0 auto 10px;
  width: 805px;
}
.data ul li{
  width: 134px;
  height: 174px;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 7px 0;
  float: left;
}
.inner{
  width: 90%;
  height: 99%;
  margin: 0 auto;
  box-shadow: 0 0 8px 0 #bbbbbb;
  text-align: center;
}
.img-wrap{
  width: 100%;
  height: 125px;
  line-height: 125px;
}
.img-wrap img{
  width: 70%;
}
.m-title img{
  height: 59px;
  width:auto;
}
.shop{
  height: 40px;
  border: 1px solid #bbbbbb;
}
.shop a{
  display: inline-block;
  width: 59px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 12px;
  cursor: pointer;
}
.shop a.active{
  background-color: #ffa21d;
  color: #ffffff;
}
/*color*/
.red{color: #fa1604;}
.green{color: #1ed085;}
.grass{color: #75ab28;}
.orange{color: #ffa21d;}
.orange2{background-color: #ffcc99;}