@CHARSET "UTF-8";

.etips {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor:pointer;
  
  line-break: auto;
}
.etips.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.etips.top {
  padding: 5px 0;
  margin-top: -3px;
}
.etips.right {
  padding: 0 5px;
  margin-left: 3px;
}
.etips.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.etips.left {
  padding: 0 5px;
  margin-left: -3px;
}
.etips-inner {
  max-width: 200px;
  padding: 10px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.etips-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.etips.top .etips-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.etips.top-left .etips-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.etips.top-right .etips-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.etips.right .etips-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.etips.left .etips-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.etips.bottom .etips-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.etips.bottom-left .etips-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.etips.bottom-right .etips-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}