{php $css = ['bt_event.css'];}
{php $nav_id = 6;}
{template 'content', 'header_score'}
<nav>
    <div class="container">
        <div class="row">
            <div class="main-nav">
                <ul class="clearfix">
                    <li><a href="{APP_PATH}zqevent/" class="football">足球数据库</a></li>
                    <li class="active"><a href="{APP_PATH}lqevent/" class="basketball">篮球数据库</a></li>
                </ul>
            </div>
            <div class="matchNavBar">
                <ul class="clearfix">
                    {loop $area $zoneid $r}
                    <li class="zone-item" data-zoneid="{$zoneid}"><a class="{if $zoneid == 'euro'}active{/if}" href="javascript:;" >{$r['name']}</a></li>
                    {/loop}
                </ul>
            </div>
        </div>
    </div>
</nav>
<section>
    <div class="container">
        <div class="row">
            <div class="col-left ">
                <div class="main">
                    {loop $stat $zoneid $item}
                    <!-- 国家 -->
                    <div class="guojia-m zone-{$zoneid}" {if $zoneid != 'euro'}style="display:none;"{/if}>
                        <h1 class="title pdT10">
                            <span class="icon-title icon-jiangbei">
                            </span>
                            国家赛事

                        </h1>
                        <div class="m-box">
                            <ul class="clearfix">
                                {loop $item['country'] $name $item2}
                                <li class="m-item">
                                    <div class="m-item-img"><img src="" alt="" height="50" class="bt-competition-photo"></div>
                                    <div class="m-item-title">{$name}<i class="icon-angle-down fr"></i></div>
                                    <div class="m-dropdown">
                                        <ul>
                                            {loop $item2 $r}
                                            <li><a target="_blank" href="{APP_PATH}sclass/{$r['sclassid']}/schedule/">{$r['name']}</a></li>
                                            {/loop}
                                        </ul>
                                    </div>
                                </li>
                                {/loop}
                            </ul>
                        </div>
                    </div>
                    <!-- 国际 -->
                    <div class="guojia-m zone-{$zoneid}" {if $zoneid != 'euro'}style="display:none;"{/if}>
                        <h1 class="title pdT10">
                            <span class="icon-title icon-jiangbei">
                            </span>
                            洲际赛事
                        </h1>
                        <div class="m-box">
                            <ul class="clearfix">
                                {loop $item['zone'] $r}
                                <li class="m-item">
                                    <a target="_blank" href="{APP_PATH}sclass/{$r['sclassid']}/schedule/">
                                        <div class="m-item-img"><img src="" alt="" height="50" class="bt-competition-photo"></div>
                                        <div class="m-item-title">{$r['name']}</div>
                                    </a>
                                </li>
                                {/loop}
                            </ul>
                        </div>
                    </div>
                    {/loop}


                </div>
            </div>
            <div class="col-right pdL15">
                <div class="side">
                    <h1 class="title pdT10">
                        <span class="icon-title icon-jiangbei">
                        </span>
                        赛事推荐
                        <a class="more" href="{APP_PATH}lqscore/" target="_blank">更多</a>
                    </h1>

                    <div class="m-list" id="match_list">
                        <ul>
                            {loop $hot_event $r}
                            <li class="list-item clearfix">
                                <div class="inner-col">
                                    <div class="team-img">
                                        <a href="{$r['home_url']}" target="_blank">
                                            <img src="{$r['home_logo']}" alt="" title="{$r['homename_cn']}" class="bt-team-photo">
                                        </a>
                                    </div>
                                    <p>
                                        <a href="{$r['home_url']}" title="{$r['homename_cn']}" target="_blank">{$r['homename']}</a>
                                    </p>
                                </div>
                                <div class="inner-col">
                                    <a target="_blank" href="{$r['url']}">
                                    <div class="live-score">{$r['homescore']}:{$r['guestscore']}</div>
                                    <p>{date('m月d日 H:i', $r['date'])}</p>
                                    </a>
                                </div>
                                <div class="inner-col">
                                    <div class="team-img">
                                        <a href="{$r['guest_url']}" target="_blank">
                                            <img src="{$r['guest_logo']}" alt="" title="{$r['guestname_cn']}" class="bt-team-photo">
                                        </a>
                                    </div>
                                    <p>
                                        <a href="{$r['guest_url']}" target="_blank" title="{$r['guestname_cn']}">{$r['guestname']}</a>
                                    </p>
                                </div>
                            </li>
                            {/loop}
                       </ul>
                    </div>
                </div>
                <div class="side side_bt">
                    <h1 class="title pdT10">
                        <span class="icon-title bg-pic">
                        </span>
                        精彩图片
                        <a class="more" href="{APP_PATH}tuku/" target="_blank">更多</a>
                    </h1>
                    <div class="pd height422">
                        {pc:content  action="lists" catid="7" num="18" order="id DESC" cache="3600" thumb="1"}
                        {php $data = array_chunk($data, 6)}
                        {loop $data $list}
                        <ul class="list-pic-container clearfix">
                            {loop $list $r}
                            <li class="list-pic">
                                <div class="list-img-wrap">
                                    <a href="{$r[url]}" target="_blank">
                                        <img src="{get_thumb($r[thumb],350)}" title="{$r[title]}">
                                    </a>
                                </div>
                                <div class="pic-des">
                                    {str_cut($r[title], 28, '...')}
                                </div>
                            </li>
                            {/loop}
                        </ul>
                        {/loop}
                    </div>
                    {if count($data) > 1}
                    <div class="tab-btn clearfix">
                        <ul class="fr">
                            {loop $data $r}
                            <li class="list-btn {if $n==1}active{/if}"></li>
                            {/loop}
                        </ul>
                    </div>
                    {/if}
                    {/pc}

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var IMG_PATH = '{IMG_PATH}';
</script>
{php $js = ['bt_event.js','article_tab.js','imagesloaded.pkgd.min.js', 'imagesloaded.pkgd.common.js'];}
{template 'content', 'footer'}