{php $css = array('bt_info.css')}
{php $nav_id = 6;}
{template 'content', 'header_score'}
<nav>
    <div class="container">
        <div class="row">
            <div class="matchNav">
                <ul class="clearfix">
                    <li><a {if ! in_array($id, [92,85,34,39,152,149,1,5])}class="active"{/if} href="javascript:;">热门联赛</a></li>
                    <li><a {if $id == 92}class="active"{/if} href="{APP_PATH}competition/92/schedule/">英超</a></li>
                    <li><a {if $id == 85}class="active"{/if} href="{APP_PATH}competition/85/schedule/">西甲</a></li>
                    <li><a {if $id == 34}class="active"{/if} href="{APP_PATH}competition/34/schedule/">意甲</a></li>
                    <li><a {if $id == 39}class="active"{/if} href="{APP_PATH}competition/39/schedule/">德甲</a></li>
                    <li><a {if $id == 152}class="active"{/if} href="{APP_PATH}competition/152/schedule/">中超</a></li>
                    <li><a {if $id == 149}class="active"{/if} href="{APP_PATH}competition/149/schedule/">世足</a></li>
                    <li><a {if $id == 1}class="active"{/if} href="{APP_PATH}sclass/1/schedule/">NBA</a></li>
                    <li><a {if $id == 5}class="active"{/if} href="{APP_PATH}sclass/5/schedule/">CBA</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<section>
    <div class="container">
        {template 'sportsdata', 'bt_sclass_crumbs'}
        <div class="row">
            <div class="col-sm-2 pdL0">

                <!-- 树形菜单 start -->
                <div class="navMenu treeMenu" id="treeMenu">
                    <ul>

                        {loop $tree $zone_name $item}
                        <li class="tree-menu">

                            <div class="tree-one-title" tree-title name="one">
                                {$zone_name}
                                <i class="icon-angle-right fr"></i>
                            </div>


                            <div class="tree" tree-menu >

                                <!-- 二级 -->
                                {loop $item $country_name $item2}
                                <div class="tree-item">

                                    <div class="tree-two-title" tree-title name="two">
                                        <i class="icon-plus"></i>
                                        {$country_name}
                                    </div>
                                    <div class="tree" tree-menu>

                                        <ul>
                                            {loop $item2 $r}
                                            <li><a target="_blank" href="{APP_PATH}sclass/{$r['sclassid']}/schedule/">{$r['name']}</a></li>
                                            {/loop}
                                        </ul>

                                    </div>


                                </div>
                                {/loop}

                            </div>
                        </li>
                        {/loop}

                    </ul>
                </div>
                <!-- 树形菜单 end -->

                <!--<div class="side-search">-->
                    <!--<div class="search-title">资料库搜索</div>-->
                    <!--<div class="search-control">-->
                        <!--<input class="input-search" type="text" placeholder="搜索">-->
                        <!--<button type="submit" class="btn-search">-->
                            <!--<i class="icon-search"></i>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="radio-group">-->
                        <!--<label for="player" class="checkbox-inline">-->
                            <!--<input type="checkbox" id="player">-->
                            <!--<i class="table-checkbox"></i>-->
                            <!--球员-->
                        <!--</label>-->
                        <!--<label for="team" class="checkbox-inline">-->
                            <!--<input type="checkbox" id="team">-->
                            <!--<i class="table-checkbox"></i>-->
                            <!--球队-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->

            </div>
            <div class="col-sm-10 pdL0 pdR0">


                <!-- iframe -->
                <div class="iframe-page" id="iframe_page">

                    <div class="iframe-head clearfix">
                        <h1 class="m-title fl">
                            <img src="{BT_SCLASS_PATH}{$sclass_id}.jpg" width="59" height="59" alt="" class="fl bt-competition-photo">
                            {$sclass_info['currseason']}{$sclass_info['name_cn']}
                        </h1>
                        <div class="dropdown fr">
                            <button class="btn btn-default" data-toggle="dropdown" aria-expanded="true">
                                <span id="guest-name">请选择球队</span>
                                <i class="icon-angle-down"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="jw_dropA">
                                <ul data-action="filter" data-target=".schedule-table" data-show="#guest-name" data-filter="guest" data-type="team">
                                    <li data-value="false">请选择球队</li>
                                    {loop $team_arr $id $name}
                                    <li data-value="{$id}">{$name}</li>
                                    {/loop}
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown fr">
                            <button class="btn btn-default" data-toggle="dropdown" aria-expanded="true">
                                <span id="home-name">请选择球队</span>
                                <i class="icon-angle-down"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="jw_dropA">
                                <ul data-action="filter" data-target=".schedule-table" data-show="#home-name" data-filter="home" data-type="team">
                                    <li data-value="false">请选择球队</li>
                                    {loop $team_arr $id $name}
                                    <li data-value="{$id}">{$name}</li>
                                    {/loop}
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown fr">
                            <button class="btn btn-default" id="jw_dropA" data-toggle="dropdown" aria-expanded="true">
                                <i class="icon-calendar"></i>
                                {$sclass_info['currseason']}
                                <i class="icon-angle-down"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="jw_dropA">
                                <ul>
                                    {loop $season_arr $data}
                                    <li data-action="link" data-url="{APP_PATH}sclass/{$sclass_id}/schedule/?season={$data}">{$data}</li>
                                    {/loop}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="iframe-table">

                        <div class="iframe-nav">
                            <ul class="clearfix">
                                <li><a href="{APP_PATH}sclass/{$sclass_id}/schedule/" class="active">赛程赛果</a></li>
                                <li><a href="{APP_PATH}sclass/{$sclass_id}/standings/" >联盟排名</a></li>
                                <li><a href="{APP_PATH}sclass/{$sclass_id}/letgoal/" >让球盘路榜</a></li>
                                <li><a href="{APP_PATH}sclass/{$sclass_id}/totalscore/" >大小盘路榜</a></li>
                                <li><a href="{APP_PATH}sclass/{$sclass_id}/singleDouble/" >单双统计</a></li>
                                <li><a href="{APP_PATH}sclass/{$sclass_id}/teamTechnic/" >球队技术统计</a></li>
                                <li><a href="{APP_PATH}sclass/{$sclass_id}/playerTechnic/">球员技术统计</a></li>
                                <li><a href="{APP_PATH}sclass/{$sclass_id}/team/" >球队资料</a></li>
                            </ul>
                        </div>


                        <div class="table-item table-min">
                            <div class="table-tab clearfix">
                                <ul class="nav nav-tabs" role="tablist">
                                    {php $index = 1}
                                    {loop $info $key $value}
                                    <li role="presentation" {if $index == 1}class="active"{/if}>
                                        <a href="#group-{$key}" aria-controls="home" role="tab" data-toggle="tab" class="center-block">
                                            {$group[$key]}
                                        </a>
                                    </li>
                                    {php $index++}
                                    {/loop}
                                </ul>
                            </div>
                            <div class="tab-content">
                                {php $index = 1}
                                {loop $info $key $list}
                                <div role="tabpanel" class="tab-pane {if $index == 1}active{/if}" id="group-{$key}">
                                    {if isset($category_arr[$key])}
                                        {loop $category_arr[$key] $name $category}
                                        {if count($category) > 1}
                                            <button class="btn btn-default">{$name}</button>
                                            {loop $category $data}
                                            <button class="btn btn-default" data-action="category-filter" data-target=".schedule-table" data-filter="subcategory" data-value="{$data}">{$data}</button>
                                            {/loop}
                                        {else}
                                            <button class="btn btn-default" data-action="category-filter" data-target=".schedule-table" data-filter="category" data-value="{$name}">{$name}</button>
                                        {/if}
                                        {/loop}
                                    {/if}
                                    <table class="table schedule-table">
                                        <thead>
                                        <tr>
                                            <td>类型</td>
                                            <td>时间</td>
                                            <td>主队</td>
                                            <td>比分</td>
                                            <td>客队</td>
                                            <td>让分</td>
                                            <td>总分</td>
                                            <td>资料</td>
                                            <td>半场</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {loop $list $date $value}
                                        <tr class="colorW">
                                            <td colspan="9" class="bold">{$date}</td>
                                        </tr>
                                        {loop $value $id $data}
                                        <tr data-home="{$data['hometeamid']}" data-guest="{$data['guestteamid']}" data-season="{$data['sclassseason']}"
                                            {if $data['category']}data-category="{$data['category']}"{/if} {if $data['subcategory']}data-subcategory="{$data['subcategory']}"{/if}>
                                            <td>{$group[$key]}</td>
                                            <td>{date('m-d H:i', $data['date'])}</td>
                                            <td>
                                                <a href="{APP_PATH}lq/team/{$data['hometeamid']}/" target="_blank">
                                                    {$data['homename_cn']}
                                                </a>
                                            </td>
                                            <td class="bold">
                                                <span {if $data['homescore'] > $data['guestscore']}class="red"{elseif $data['homescore'] < $data['guestscore']}class="green"{/if}>{$data['homescore']}</span>
                                                -
                                                <span {if $data['homescore'] < $data['guestscore']}class="red"{elseif $data['homescore'] > $data['guestscore']}class="green"{/if}>{$data['guestscore']}</span>
                                            </td>
                                            <td>
                                                <a href="{APP_PATH}lq/team/{$data['guestteamid']}/" target="_blank">
                                                    {$data['guestname_cn']}
                                                </a>
                                            </td>
                                            <td>{$data['letgoal']}</td>
                                            <td>{$data['totalscore']}</td>
                                            <td>
                                                <span>
                                                    <a class="orange" href="{APP_PATH}schedule/{$data['scheduleid']}/analyse/" target="_blank">[析]</a>&nbsp;&nbsp;
                                                    <a class="orange" href="{APP_PATH}schedule/{$data['scheduleid']}/euro/" target="_blank">[欧]</a>
                                                </span>
                                            </td>
                                            <td><span class="green bold">{$data['half']['home']}-{$data['half']['guest']}</span></td>
                                        </tr>
                                        {/loop}
                                        {/loop}
                                        </tbody>
                                    </table>
                                    <div class="evaluate">
                                        <div class="title">
                                            专家点评
                                        </div>
                                        <div class="pd10">专家点评专家点评专家点评专家点评专家点评</div>
                                    </div>
                                </div>
                                {php $index++}
                                {/loop}
                            </div>
                        </div>
                        <div class="hint">
                            页面最后更新时间:2017-01-03 11:13:14
                        </div>

                    </div>


                </div>
                <!-- iframe end -->
            </div>
        </div>
    </div>
</section>
<script>
    var IMG_PATH = '{IMG_PATH}';
</script>
{php $js = array('tree.js', 'bt_sclass_schedule.js', 'imagesloaded.pkgd.min.js', 'imagesloaded.pkgd.common.js')}
{template 'content', 'footer'}