{php $css = array('ft_end_game.css', 'date-plugin.css');}
{php $nav_id = 3}
{template 'content', 'header_score'}
<nav>
    <div class="container">
        <div class="row">
            <div class="bt-nav ft-end">
                <div class="inline-alink">
                    <a href="{APP_PATH}zqscore/" class="btn btn-alink">即时</a>
                    <a href="{APP_PATH}zqwanchang/" class="btn btn-alink">完场</a>
                    <a href="{APP_PATH}zqsaicheng/" class="btn btn-alink active">下日</a>
                </div>
                <div class="inline-btn">
                    <buttton class="btn btn-control" data-toggle="modal" data-target="#saishi">
                        选择赛事
                        <i class="icon-angle-down"></i>
                    </buttton>
                </div>

                <button class="btn active" id="reset">完整</button>
                <button class="btn" data-action="competition-filter" data-target="competition" data-id="161">亚洲杯</button>
                <button class="btn" data-action="competition-filter" data-target="competition" data-id="162">美洲杯</button>
                <button class="btn" data-action="competition-filter" data-target="competition" data-id="152">中超</button>
                <button class="btn" data-action="competition-filter" data-target="competition" data-id="92">英超</button>
                <button class="btn" data-action="competition-filter" data-target="competition" data-id="74">欧洲杯</button>
                <button class="btn" data-action="competition-filter" data-target="competition" data-id="141">亚洲预选</button>
            </div>
            <div class="date-nav" id="date-choose">
                <ul class="clearfix">
                    {loop $arr_date $r}
                    <li {if $r[date] == $date}class="active"{/if} data-url="{APP_PATH}zqsaicheng/?date={$r[date]}">
                    <div class="date-line">{$r['date_text']}</div>
                    <div class="date-line">{$r['day']}</div>
                    </li>
                    {/loop}
                    <li class="date-control">
                        <div style="visibility: hidden">
                            <i class="icon-calendar"></i>
                            日历
                            <i class="icon-angle-down"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- 日历插件 -->
<div class="container">
    <div class="row">
        <div id="date-plugn" class="date-plugn" data-date="">
            <input type="hidden" value="" id="date-hidden" class="dateText">
            <div class="date-title">
                <button class="date-control prev">
                    <i class="icon-arrow-left"></i>
                </button>
                <div class="date-info">
                    <div class="num">10</div>
                    <div class="text">
                        <div class="week">星期四</div>
                        <div class="date">2016 12月</div>
                    </div>
                </div>
                <button class="date-control next">
                    <i class="icon-arrow-right"></i>
                </button>
            </div>

            <div class="date-content">

                <ul class="date-week clearfix">
                    <li>日</li>
                    <li>一</li>
                    <li>二</li>
                    <li>三</li>
                    <li>四</li>
                    <li>五</li>
                    <li>六</li>
                </ul>

                <ul class="date-num" id="dateNum">
                </ul>

            </div>

        </div>
    </div>
</div>
<!-- 日历插件end -->

<section class="main pdB20">
    <div class="container">
        <div class="row">
            <div class="wrap" id="table-content">
                <!-- table-header  -->
                <div id="table-header" class="table-header">
                    <table class="table">
                        <tr>
                            <td width="168">赛事</td>
                            <td width="63">时间</td>
                            <td width="55">状态</td>
                            <td width="150" class="text-right">主队</td>
                            <td width="50">比分</td>
                            <td width="150" class="text-left">客队</td>
                            <td width="65">半场</td>
                            <td width="120">数据</td>
                        </tr>
                    </table>
                </div>
                <!-- table-item -->
                <div class="table-item mrgB20">
                    <table class="table" id="end-table">
                        <thead>
                        <tr>
                            <td colspan="12">
                                    <span class="match-tip week">
                                        {date('m月d日', $starttime)}
                                        星期{php echo $week[date('N', $starttime)]}
                                    </span>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {loop $future_game $data}
                        <tr data-competition="{$data['competitionid']}">
                            <td width="168">
                                <div class="clearfix">
                                    <div class="pull-left text-center" style="width: 50%;">
                                        <img src="{PHOTO_PATH}competition/{$r['compeitionid']}.jpg" class="competition-photo">
                                    </div>
                                    <div class="pull-right text-left" style="width: 50%">
                                            <span>
                                                {$data['competitionshortname']}
                                            </span>
                                    </div>
                                </div>
                            </td>
                            <td width="63">
                                {date('j日 H:i', $data['date'])}
                            </td>
                            <td width="55">
                                <!-- <img src="{IMG_PATH}/icon/timeicon.png" class="status-time"> -->
                                <span class="table-status">{$arr_status[$data['status']]}</span>
                                <!-- <img src="{IMG_PATH}/icon/point.png" class="status-point"> -->
                            </td>
                            <td width="150" class="text-right">
                                <span class="num">{if $data['homerank']}[{$data['homerank']}]{/if}</span>
                                {if $data['homeyellowcard']}
                                <span class="yellowcard">{$data['homeyellowcard']}</span>
                                {/if}
                                {if $data['homeredcard']}
                                <span class="redcard">{$data['homeredcard']}</span>
                                {/if}
                                <a href="{APP_PATH}team/{$data['hometeamid']}/" target="_blank">
                                        <span class="teamname">
                                            {$data['homeshortname']}
                                        </span>
                                </a>
                            </td>
                            <td width="50" class="score">
                                <a href="{APP_PATH}game/{$data['gameid']}/stats/" target="_blank">
                                    {$data['homescore']} - {$data['awayscore']}
                                </a>
                            </td>
                            <td width="150" class="text-left">
                                <a href="{APP_PATH}team/{$data['awayteamid']}/" target="_blank">
                                        <span class="teamname">
                                            {$data['awayshortname']}
                                        </span>
                                </a>
                                {if $data['awayredcard']}
                                <span class="redcard">{$data['awayredcard']}</span>
                                {/if}
                                {if $data['awayyellowcard']}
                                <span class="yellowcard">{$data['awayyellowcard']}</span>
                                {/if}
                                <span class="num">{if $data['awayrank']}[{$data['awayrank']}]{/if}</span>
                            </td>
                            <td width="65">
                                {$data['half']}
                            </td>
                            <td width="120">
                                <a href="{APP_PATH}game/{$data[gameid]}/analyse/" class="table-link" target="_blank">析</a>
                                <a href="{APP_PATH}game/{$data[gameid]}/oddsasia/" class="table-link" target="_blank">亚</a>
                                <a href="{APP_PATH}game/{$data[gameid]}/oddsou/" class="table-link" target="_blank">大</a>
                                <a href="{APP_PATH}game/{$data[gameid]}/oddseuro/" class="table-link" target="_blank">欧</a>
                            </td>
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 赛事 弹出层 -->
<div class="modal fade" id="saishi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">赛事选择</h4>
            </div>
            <div class="modal-body row">
                {loop $competition_data $data}
                <div class="col-md-3"><label><input type="checkbox" name="competitionid[]" data-name="competition" value="{$data['competitionid']}">{$data['competitionshortname']}[{$data['count']}]</label></div>
                {/loop}
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-action="check-all" data-target="competition">全选</button>
                <button class="btn btn-info" data-action="check-clear" data-target="competition">全不选</button>
                <button class="btn btn-primary" data-dismiss="modal" data-target="competition" data-action="submit">确定</button>
                <button class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>

</div>
</div>
<script>
    var APP_PATH = '{APP_PATH}';
    var IMG_PATH = '{IMG_PATH}';
</script>

{php $js = array('date-plugin.js', 'ft_future_game.js', 'imagesloaded.pkgd.min.js', 'imagesloaded.pkgd.common.js','fixed.js');}
{template 'content', 'footer'}