<div class="xy28-wrap">
    <div class="cur-issue">
        <i class="icon icon-bg icon-28"></i>
        <div class="box-code-type left">
            <span>大单</span><span>非豹子</span><span>无极值</span><span class="ball_c0">红波</span>
        </div>
        <div class="box-numbers left clearfix">
            <div class="code left">
                <div class="result_issue">幸运28 第 <b id="result-issue">683237</b> 期开奖结果</div>
                <div class="result_codes" id="result-codes">
                     <span class="num_code">5</span>
                     <span class="num_add">+</span>
                     <span class="num_code">4</span>
                     <span class="num_add">+</span>
                     <span class="num_code">6</span>
                     <span class="num_add">=</span>
                     <span class="num_result">15</span>
                </div>
            </div>
            <div class="link link-help left">
                <a href="http://www.bwlc.net/bulletin/keno.html" target="_blank">[官方查询]</a><br />
                <a href="/Index/check/cid/32/issue/783237" target="_blank" id="link-result">[开奖规则]</a>
            </div>
            <div class="times left">
                <div>当前期为第 <b id="cur-issue">783247</b> 期</div>
                <div id="lefttime">当前已经停止投注!</div>
                <div id="opentime">当前期正在开奖...</div>
            </div>
        </div>
        <div class="box-actions left">
            <a href="javascript:;" onclick="window.location.reload(true);"><i class="icon icon-bg icon-refresh"></i><span>刷新</span></a>
            <a href="javascript:void()"><i class="icon icon-bg icon-help"></i><span>帮助</span></a>
        </div>
    </div>

    <div class="game-list-table">
        <div class="list-bg"></div>
        <div class="list-wrap pure-g">
          <div class="ui-head-son">
            <div class="pure-g">
                  <div class="pure-u-4-24">
                      <div class="ui-item-son">期号</div>
                  </div>
                  <div class="pure-u-4-24">
                      <div class="ui-item-son">开奖时间</div>
                  </div>
                  <div class="pure-u-4-24">
                      <div class="ui-item-son">开奖结果</div>
                  </div>
                  <div class="pure-u-4-24">
                      <div class="ui-item-son">已下单熟</div>
                  </div>
                  <div class="pure-u-4-24">
                      <div class="ui-item-son">中奖人数</div>
                  </div>
                  <div class="pure-u-4-24">
                      <div class="ui-item-son">状态</div>
                  </div>
              </div>
          </div>
          <div class="ui-body-son">
              <div class="pure-g">
                  <div class="pure-u-4-24">
                      <div class="ui-item-son">738235</div>
                  </div>
                  <div class="pure-u-4-24">
                      <div class="ui-item-son">2016-09-26 13:55:00</div>
                  </div>
                  <div class="pure-u-4-24">
                      <div class="ui-item-son">等待开奖</div>
                  </div>
                  <div class="pure-u-4-24">
                      <div class="ui-item-son">投注中</div>
                  </div>
                  <div class="pure-u-4-24">
                      <div class="ui-item-son">---</div>
                  </div>
                  <div class="pure-u-4-24">
                      <div class="ui-item-son">
                         <a ui-sref="game.name.play({name: 'xy28'})">投注
                           <i class="icon icon-bg icon-hot"></i></a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="pager">
             <p class="pager-info">共2689条记录 &nbsp;&nbsp;当前1/108页</p>
             <a href="" class="current">1</a>
               <a href="" class="">2</a>
               <a href="" class="">3</a>
          </div>
        </div>
    </div>
</div>





