.No_01 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_02 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_03 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_04 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_05 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_06 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_07 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_08 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_09 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_10 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_11 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_12 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_13 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_14 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_15 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_16 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_17 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_18 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_19 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_20 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_21 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_22 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_23 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_24 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_25 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_26 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_27 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_28 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_29 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_30 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_31 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_32 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_33 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_34 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_35 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_36 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_37 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_38 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_39 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_40 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_41 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_42 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_43 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_44 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_45 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_46 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_47 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_48 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_49 {
	BACKGROUND-IMAGE: url(ball1x.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_01 {
	BACKGROUND-POSITION: 0px 0px
}
.No_02 {
	BACKGROUND-POSITION: 0px -20px
}
.No_03 {
	BACKGROUND-POSITION: 0px -40px
}
.No_04 {
	BACKGROUND-POSITION: 0px -60px
}
.No_05 {
	BACKGROUND-POSITION: 0px -80px
}
.No_06 {
	BACKGROUND-POSITION: 0px -100px
}
.No_07 {
	BACKGROUND-POSITION: 0px -120px
}
.No_08 {
	BACKGROUND-POSITION: 0px -140px
}
.No_09 {
	BACKGROUND-POSITION: 0px -160px
}
.No_10 {
	BACKGROUND-POSITION: 0px -180px
}
.No_11 {
	BACKGROUND-POSITION: 0px -200px
}
.No_12 {
	BACKGROUND-POSITION: 0px -220px
}
.No_13 {
	BACKGROUND-POSITION: 0px -240px
}
.No_14 {
	BACKGROUND-POSITION: 0px -260px
}
.No_15 {
	BACKGROUND-POSITION: 0px -280px
}
.No_16 {
	BACKGROUND-POSITION: 0px -300px
}
.No_17 {
	BACKGROUND-POSITION: 0px -320px
}
.No_18 {
	BACKGROUND-POSITION: 0px -340px
}
.No_19 {
	BACKGROUND-POSITION: 0px -360px
}
.No_20 {
	BACKGROUND-POSITION: 0px -380px
}
.No_21 {
	BACKGROUND-POSITION: 0px -400px
}
.No_22 {
	BACKGROUND-POSITION: 0px -420px
}
.No_23 {
	BACKGROUND-POSITION: 0px -440px
}
.No_24 {
	BACKGROUND-POSITION: 0px -460px
}
.No_25 {
	BACKGROUND-POSITION: 0px -480px
}
.No_26 {
	BACKGROUND-POSITION: 0px -500px
}
.No_27 {
	BACKGROUND-POSITION: 0px -520px
}
.No_28 {
	BACKGROUND-POSITION: 0px -540px
}
.No_29 {
	BACKGROUND-POSITION: 0px -560px
}
.No_30 {
	BACKGROUND-POSITION: 0px -580px
}
.No_31 {
	BACKGROUND-POSITION: 0px -600px
}
.No_32 {
	BACKGROUND-POSITION: 0px -620px
}
.No_33 {
	BACKGROUND-POSITION: 0px -640px
}
.No_34 {
	BACKGROUND-POSITION: 0px -660px
}
.No_35 {
	BACKGROUND-POSITION: 0px -680px
}
.No_36 {
	BACKGROUND-POSITION: 0px -650px
}
.No_37 {
	BACKGROUND-POSITION: 0px -720px
}
.No_38 {
	BACKGROUND-POSITION: 0px -650px
}
.No_39 {
	BACKGROUND-POSITION: 0px -760px
}
.No_40 {
	BACKGROUND-POSITION: 0px -780px
}
.No_41 {
	BACKGROUND-POSITION: 0px -800px
}
.No_42 {
	BACKGROUND-POSITION: 0px -820px
}
.No_43 {
	BACKGROUND-POSITION: 0px -840px
}
.No_44 {
	BACKGROUND-POSITION: 0px -860px
}
.No_45 {
	BACKGROUND-POSITION: 0px -880px
}
.No_46 {
	BACKGROUND-POSITION: 0px -900px
}
.No_47 {
	BACKGROUND-POSITION: 0px -920px
}
.No_48 {
	BACKGROUND-POSITION: 0px -940px
}
.No_49 {
	BACKGROUND-POSITION: 0px -960px
}
.t_td_No {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #ffffff; HEIGHT: 20px
}
.F_bold {
	FONT-WEIGHT: bold
}
