body{margin:0;padding:0;min-width:320px;color:#272727;font-size:.875rem;font-family:arial,Microsoft YaHei,Helvetica,sans-serif;tap-highlight-color:#000;-webkit-tap-highlight-color:#000;-webkit-tap-highlight-color:#000;}
body,button,cite,dd,dl,dt,em,figure,h1,h2,h3,h4,h5,html,input,li,p,select,span,textarea,ul{margin:0;padding:0;}
@media screen and (min-width:480px){body,button,html,input,select,textarea{font-size:18px;}
}
@media screen and (min-width:640px){body,button,html,input,select,textarea{font-size:24px;}
}
cite,em{font-style:normal;}
li,ul{list-style-type:none;}
body{position:relative;background-color:#3c233c;}

.main{ position:relative; min-height:36rem;}
.txt{ width:16.88rem; height:8.25rem; margin:1.5rem auto 0; background:url(../img/txt.png) center 0 no-repeat;background-size:16.88rem 8.25rem;-webkit-background-size:16.88rem 8.25rem;}
.light{ position:absolute; top:8.3rem; left:50%; margin-left:-10rem; width:20rem; height:8rem; background:url(../img/light.png) center 0 no-repeat;background-size:20rem 8rem;-webkit-background-size:20rem 8rem;}
.weixinbox{ position:absolute; top:13.2rem; left:50%;  margin-left:-8.68rem; width: 17.36rem; height:13.25rem;}
.pepole{position:absolute; top:0; left:0; z-index:10; width: 17.36rem; height:13.25rem;background:url(../img/pepole.png) center 0 no-repeat;background-size:17.36rem 13.25rem;-webkit-background-size:17.36rem 13.25rem;}
.weixin{ position:absolute; top:-2.05rem; left:8.1rem; z-index:9; display:block; width:3.26rem; height:3.26rem;background:url(../img/weixin.png) center 0 no-repeat;background-size:3.26rem 3.26rem;-webkit-background-size:3.26rem 3.26rem;}
.download{position:absolute; bottom:.8rem; left:5.18rem;z-index:11; display:block; width:9rem; text-align:center; height:1.5rem; line-height:1.5rem; font-size:1.5rem; color:#fff; font-weight:bold; text-decoration:none;}


.foot{ position:absolute; top:26.5rem; width:100%;}
.wx_p{ position:absolute; top:1rem; width:100%; text-align:center; font-size:1rem; color:#fff; line-height:1.5rem;}
.cloud{ position:fixed;bottom:0; width:100%; height:5.6rem; background:url(../img/cloud.png) center 0 no-repeat;background-size:100% 5.6rem;-webkit-background-size:100% 5.6rem;}


/*---------动画------------*/
.txt,.light,.wx_p,.weixinbox,.download{
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.txt,.light,.wx_p {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;	
}
.weixinbox {
	-webkit-animation-name: rotateInDownLeft;
	animation-name: rotateInDownLeft;
}

.download {
	-webkit-animation-name: tada;
	animation-name: tada;
	-webkit-animation-iteration-count:2;
	animation-iteration-count:2;
}
.light{-webkit-animation-delay:.5s; animation-delay:.5s;}
.weixinbox{-webkit-animation-delay:1.1s; animation-delay:1.1s;}
.wx_p{-webkit-animation-delay:1.7s; animation-delay:1.7s;}
.download{-webkit-animation-delay:2.3s; animation-delay:2.3s;}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		transform: translateX(-20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}
}


@-webkit-keyframes rotateInDownLeft {
	0% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0
	}

	100% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}
}

@keyframes rotateInDownLeft {
	0% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0
	}

	100% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}
}
@-webkit-keyframes tada {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	10%,20% {
		-webkit-transform: scale(0.9) rotate(-3deg);
		transform: scale(0.9) rotate(-3deg)
	}

	30%,50%,70%,90% {
		-webkit-transform: scale(1.1) rotate(3deg);
		transform: scale(1.1) rotate(3deg)
	}

	40%,60%,80% {
		-webkit-transform: scale(1.1) rotate(-3deg);
		transform: scale(1.1) rotate(-3deg)
	}

	100% {
		-webkit-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0)
	}
}

@keyframes tada {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

	10%,20% {
		-webkit-transform: scale(0.9) rotate(-3deg);
		-ms-transform: scale(0.9) rotate(-3deg);
		transform: scale(0.9) rotate(-3deg)
	}

	30%,50%,70%,90% {
		-webkit-transform: scale(1.1) rotate(3deg);
		-ms-transform: scale(1.1) rotate(3deg);
		transform: scale(1.1) rotate(3deg)
	}

	40%,60%,80% {
		-webkit-transform: scale(1.1) rotate(-3deg);
		-ms-transform: scale(1.1) rotate(-3deg);
		transform: scale(1.1) rotate(-3deg)
	}

	100% {
		-webkit-transform: scale(1) rotate(0);
		-ms-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0)
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1)
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

	50% {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1)
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}
}







